In [61]:
import os
import boto3

from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

import sagemaker
from sagemaker import get_execution_role
import sagemaker_pyspark
from pyspark.sql.functions import *

role = get_execution_role()

# Configure Spark to use the SageMaker Spark dependency jars
jars = sagemaker_pyspark.classpath_jars()

classpath = ":".join(sagemaker_pyspark.classpath_jars())

# See the SageMaker Spark Github to learn how to connect to EMR from a notebook instance
spark = SparkSession.builder.config("spark.driver.extraClassPath", classpath)\
    .master("local[*]").getOrCreate()
    
spark

In [2]:
import os
import pandas as pd
import numpy as np
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql.types import *
import pyspark.sql.functions as fn
from pyspark.sql.functions import col, udf

In [86]:
cdc = spark.read.csv('output.csv', header = True)

In [87]:
cdc = cdc.drop('detail_age_type','detail_age', 'age_substitution_flag','age_recode_27', 'age_recode_12', 'infant_age_recode_22', 'icd_code_10th_revision')

In [88]:
cdc = cdc.drop('record_condition_20' , 'entity_condition_20', 'entity_condition_19', 'entity_condition_18', 'entity_condition_17', 'record_condition_19', 'record_condition_18', 'record_condition_16', 'record_condition_17','record_condition_15','record_condition_14','record_condition_13','record_condition_12','record_condition_11','record_condition_10','record_condition_9','record_condition_8','record_condition_7' , 'record_condition_6', 'record_condition_5', 'entity_condition_16', 'entity_condition_15','entity_condition_14', 'entity_condition_13', 'entity_condition_12', 'entity_condition_11', 'entity_condition_10', 'entity_condition_9','entity_condition_8', 'entity_condition_7', 'entity_condition_6', 'entity_condition_5')

In [89]:
cdc.printSchema()

root
 |-- resident_status: string (nullable = true)
 |-- education_1989_revision: string (nullable = true)
 |-- education_2003_revision: string (nullable = true)
 |-- education_reporting_flag: string (nullable = true)
 |-- month_of_death: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age_recode_52: string (nullable = true)
 |-- place_of_death_and_decedents_status: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- day_of_week_of_death: string (nullable = true)
 |-- current_data_year: string (nullable = true)
 |-- injury_at_work: string (nullable = true)
 |-- manner_of_death: string (nullable = true)
 |-- method_of_disposition: string (nullable = true)
 |-- autopsy: string (nullable = true)
 |-- activity_code: string (nullable = true)
 |-- place_of_injury_for_causes_w00_y34_except_y06_and_y07_: string (nullable = true)
 |-- 358_cause_recode: string (nullable = true)
 |-- 113_cause_recode: string (nullable = true)
 |-- 130_infant_cause_recode: string (nullable = true)
 |-- 39_cause_recode: string (nullable = true)
 |-- number_of_entity_axis_conditions: string (nullable = true)
 |-- entity_condition_1: string (nullable = true)
 |-- entity_condition_2: string (nullable = true)
 |-- entity_condition_3: string (nullable = true)
 |-- entity_condition_4: string (nullable = true)
 |-- number_of_record_axis_conditions: string (nullable = true)
 |-- record_condition_1: string (nullable = true)
 |-- record_condition_2: string (nullable = true)
 |-- record_condition_3: string (nullable = true)
 |-- record_condition_4: string (nullable = true)
 |-- race: string (nullable = true)
 |-- bridged_race_flag: string (nullable = true)
 |-- race_imputation_flag: string (nullable = true)
 |-- race_recode_3: string (nullable = true)
 |-- race_recode_5: string (nullable = true)
 |-- hispanic_origin: string (nullable = true)
 |-- hispanic_originrace_recode: string (nullable = true)

In [90]:
cdc = cdc.fillna({'place_of_injury_for_causes_w00_y34_except_y06_and_y07_' : '10'})
cdc = cdc.fillna({'130_infant_cause_recode' : '000'})
cdc = cdc.fillna({'activity_code' : '10'})
cdc = cdc.fillna({'manner_of_death' : '8'})
cdc = cdc.fillna({'Place_of_death_and_decedents_status': '7'})

In [91]:
cdc = cdc.withColumn('method_of_disposition', regexp_replace('method_of_disposition', 'R' , 'O'))
cdc = cdc.withColumn('method_of_disposition', regexp_replace('method_of_disposition', 'E' , 'O'))
cdc = cdc.withColumn('method_of_disposition', regexp_replace('method_of_disposition', 'D' , 'O'))
cdc = cdc.withColumn('method_of_disposition', regexp_replace('method_of_disposition', 'U' , 'O'))
cdc = cdc.withColumn('Place_of_death_and_decedents_status', regexp_replace('Place_of_death_and_decedents_status', '9' , '7'))

In [92]:
#cdc = cdc.withColumn('Place_of_death_and_decedents_status', 
 #                    when(cdc['Place_of_death_and_decedents_status']== 9 , 7).otherwise(cdc['Place_of_death_and_decedents_status']))

In [93]:
#cdc.select('Place_of_death_and_decedents_status').distinct().show()

+-----------------------------------+
|Place_of_death_and_decedents_status|
+-----------------------------------+
|                                  7|
|                                  3|
|                                  5|
|                                  6|
|                                  1|
|                                  4|
|                                  2|
+-----------------------------------+

In [94]:
#cdc.select('place_of_injury_for_causes_w00_y34_except_y06_and_y07_').distinct().show()

+------------------------------------------------------+
|place_of_injury_for_causes_w00_y34_except_y06_and_y07_|
+------------------------------------------------------+
|                                                     7|
|                                                     3|
|                                                     8|
|                                                     0|
|                                                     5|
|                                                     6|
|                                                     9|
|                                                     1|
|                                                    10|
|                                                     4|
|                                                     2|
+------------------------------------------------------+

In [78]:
#cdc.select("education_1989_revision").distinct().show()

+-----------------------+
|education_1989_revision|
+-----------------------+
|                     07|
|                     15|
|                     11|
|                     01|
|                     16|
|                     99|
|                   null|
|                     00|
|                     17|
|                     09|
|                     05|
|                     08|
|                     03|
|                     02|
|                     06|
|                     10|
|                     12|
|                     04|
|                     13|
|                     14|
+-----------------------+

In [95]:
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '00' , '1'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '01' , '1'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '02' , '1'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '03' , '1'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '04' , '1'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '05' , '1'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '06' , '1'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '07' , '1'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '08' , '1'))

cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '09' , '2'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '10' , '2'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '11' , '2'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '12' , '3'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '13' , '4'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '14' , '4'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '15' , '5'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '16' , '6'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '17' , '7'))
cdc = cdc.withColumn('education_1989_revision', regexp_replace('education_1989_revision', '99' , '9'))

In [110]:
cdc = cdc.withColumn("education_2003_revision", coalesce(cdc.education_2003_revision,cdc.education_1989_revision))

In [112]:
cdc = cdc.filter(cdc.education_2003_revision.isNotNull())

In [115]:
#cdc.groupBy('education_2003_revision').count().orderBy('count', ascending=False).show()

+-----------------------+--------+
|education_2003_revision|   count|
+-----------------------+--------+
|                      3|11329932|
|                      1| 3805467|
|                      4| 3293354|
|                      2| 3226815|
|                      6| 2480719|
|                      5| 1144604|
|                      7| 1106055|
|                      9| 1024952|
|                      8|  308775|
+-----------------------+--------+

In [130]:
#cdc.printSchema()

In [121]:
cdc = cdc.drop('education_1989_revision', 'education_reporting_flag','bridged_race_flag', 'race_imputation_flag', 
               'hispanic_origin','entity_condition_1','entity_condition_2','entity_condition_3','entity_condition_4',
              'record_condition_1','record_condition_2','record_condition_3','record_condition_4')

In [125]:
#cdc.select('entity_condition_2').limit(1).show()
#cdc.where(col("sex").isNull()).show()
#cdc.groupBy('number_of_entity_axis_conditions').count().orderBy('count', ascending=False).show()
#cdc.select("education_1989_revision").distinct().show()

+--------------------------------+-------+
|number_of_entity_axis_conditions|  count|
+--------------------------------+-------+
|                              02|6573555|
|                              01|6244732|
|                              03|5982777|
|                              04|4038981|
|                              05|2323316|
|                              06|1262052|
|                              07| 653445|
|                              08| 326345|
|                              09| 164497|
|                              10|  80073|
|                              11|  38912|
|                              12|  18717|
|                              13|   7641|
|                              14|   4935|
|                              15|    507|
|                              16|    118|
|                              17|     43|
|                              18|     19|
|                              19|      7|
|                              20|      1|
+--------------------------------+-------+

In [126]:
from sagemaker_pyspark.algorithms import XGBoostSageMakerEstimator