In [1]:
import os
import boto3
import re
import json
from sagemaker import get_execution_role

role = get_execution_role()

bucket = 'ml-sagemaker-project'# enter your s3 bucket where you will copy data and model artifacts

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
import time
import json
import sagemaker.amazon.common as smac
import urllib.request

# Read the file in chunks

In [3]:
data_2005 = pd.read_csv("https://s3.amazonaws.com/mrinal-ml-sagemaker/Project/2005_data.csv", chunksize = 100000)

In [4]:
with open('2005_codes.json', 'r') as f_open:
    code_maps_2005 = json.load(f_open)

In [5]:
giant_df = pd.concat(data_2005)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (39,40,41,42,43,45,60,61,62,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (39,40,41,42,43,60,61,62,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (39,40,41,42,60,61,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (40,41,42,43,44,61,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (39,40,41,42,43,60,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (39,40,41,42,43,44,45,59,60,61,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (40,41,42,43,60,61,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (41,42,43,44,45,61,62,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (40,41,42,43,44,60,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (39,40,41,42,43,44,45,46,60,61,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (40,41,42,43,60,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (42,43,61,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (41,42,43,44,45,46,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (41,42,43,44,61,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (40,41,42,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (41,42,43,44,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (41,42,43,44,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (40,41,42,43,44,45,46,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (42,43,44,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (41,42,43,44,45,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (40,41,42,43,44,45,46,47,61,62,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (40,41,42,43,60,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (38,39,40,41,42,43,44,59,60,61,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (39,40,41,59,60,61) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
giant_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2452506 entries, 0 to 2452505
Data columns (total 77 columns):
resident_status                                           int64
education_1989_revision                                   float64
education_2003_revision                                   float64
education_reporting_flag                                  int64
month_of_death                                            int64
sex                                                       object
detail_age_type                                           int64
detail_age                                                int64
age_substitution_flag                                     float64
age_recode_52                                             int64
age_recode_27                                             int64
age_recode_12                                             int64
infant_age_recode_22                                      float64
place_of_death_and_decedents_status                       int64
marital_status                                            object
day_of_week_of_death                                      int64
current_data_year                                         int64
injury_at_work                                            object
manner_of_death                                           float64
method_of_disposition                                     object
autopsy                                                   object
activity_code                                             float64
place_of_injury_for_causes_w00_y34_except_y06_and_y07_    float64
icd_code_10th_revision                                    object
358_cause_recode                                          int64
113_cause_recode                                          int64
130_infant_cause_recode                                   float64
39_cause_recode                                           int64
number_of_entity_axis_conditions                          int64
entity_condition_1                                        object
entity_condition_2                                        object
entity_condition_3                                        object
entity_condition_4                                        object
entity_condition_5                                        object
entity_condition_6                                        object
entity_condition_7                                        object
entity_condition_8                                        object
entity_condition_9                                        object
entity_condition_10                                       object
entity_condition_11                                       object
entity_condition_12                                       object
entity_condition_13                                       object
entity_condition_14                                       object
entity_condition_15                                       object
entity_condition_16                                       object
entity_condition_17                                       object
entity_condition_18                                       object
entity_condition_19                                       object
entity_condition_20                                       float64
number_of_record_axis_conditions                          int64
record_condition_1                                        object
record_condition_2                                        object
record_condition_3                                        object
record_condition_4                                        object
record_condition_5                                        object
record_condition_6                                        object
record_condition_7                                        object
record_condition_8                                        object
record_condition_9                                        object
record_condition_10                                       object
record_condition_11                                       object
record_condition_12                                       object
record_condition_13                                       object
record_condition_14                                       object
record_condition_15                                       object
record_condition_16                                       object
record_condition_17                                       object
record_condition_18                                       float64
record_condition_19                                       float64
record_condition_20                                       float64
race                                                      int64
bridged_race_flag                                         float64
race_imputation_flag                                      float64
race_recode_3                                             int64
race_recode_5                                             int64
hispanic_origin                                           int64
hispanic_originrace_recode                                int64
dtypes: float64(14), int64(21), object(42)
memory usage: 1.4+ GB

In [7]:
giant_df.isnull().sum()

resident_status                                                 0
education_1989_revision                                    965336
education_2003_revision                                   1487170
education_reporting_flag                                        0
month_of_death                                                  0
sex                                                             0
detail_age_type                                                 0
detail_age                                                      0
age_substitution_flag                                     2452429
age_recode_52                                                   0
age_recode_27                                                   0
age_recode_12                                                   0
infant_age_recode_22                                      2424003
place_of_death_and_decedents_status                             0
marital_status                                                  0
day_of_week_of_death                                            0
current_data_year                                               0
injury_at_work                                                  0
manner_of_death                                            732891
method_of_disposition                                           0
autopsy                                                         0
activity_code                                             2281702
place_of_injury_for_causes_w00_y34_except_y06_and_y07_    2299637
icd_code_10th_revision                                          0
358_cause_recode                                                0
113_cause_recode                                                0
130_infant_cause_recode                                   2424003
39_cause_recode                                                 0
number_of_entity_axis_conditions                                0
entity_condition_1                                              0
                                                           ...
entity_condition_19                                       2452505
entity_condition_20                                       2452506
number_of_record_axis_conditions                                0
record_condition_1                                              0
record_condition_2                                         591320
record_condition_3                                        1234717
record_condition_4                                        1771792
record_condition_5                                        2115768
record_condition_6                                        2296929
record_condition_7                                        2384096
record_condition_8                                        2423400
record_condition_9                                        2440329
record_condition_10                                       2447605
record_condition_11                                       2450544
record_condition_12                                       2451799
record_condition_13                                       2452256
record_condition_14                                       2452424
record_condition_15                                       2452486
record_condition_16                                       2452500
record_condition_17                                       2452504
record_condition_18                                       2452506
record_condition_19                                       2452506
record_condition_20                                       2452506
race                                                            0
bridged_race_flag                                         2448089
race_imputation_flag                                      2444046
race_recode_3                                                   0
race_recode_5                                                   0
hispanic_origin                                                 0
hispanic_originrace_recode                                      0
Length: 77, dtype: int64

In [8]:
with open('2005_codes.json', 'r') as f_open:
    code_maps_2005 = json.load(f_open)

In [9]:
code_maps_2005

{'resident_status': {'1': 'RESIDENTS',
  '2': 'INTRASTATE NONRESIDENTS',
  '3': 'INTERSTATE NONRESIDENTS',
  '4': 'FOREIGN RESIDENTS'},
 'education_1989_revision': {'00': 'No formal education',
  '01-08': 'Years of elementary school',
  '09': '1 year of high school',
  '10': '2 years of high school',
  '11': '3 years of high school',
  '12': '4 years of high school',
  '13': '1 year of college',
  '14': '2 years of college',
  '15': '3 years of college',
  '16': '4 years of college',
  '17': '5 or more years of college',
  '99': 'Not stated'},
 'education_2003_revision': {'1': '8th grade or less',
  '2': '9 - 12th grade, no diploma',
  '3': 'high school graduate or GED completed',
  '4': 'some college credit, but no degree',
  '5': 'Associate degree',
  '6': 'Bachelor’s degree',
  '7': 'Master’s degree',
  '8': 'Doctorate or professional degree',
  '9': 'Unknown'},
 'education_reporting_flag': {'0': '1989 revision of education item on certificate',
  '1': '2003 revision of education item on certificate',
  '2': 'no education item on certificate'},
 'month_of_death': {'01': 'January',
  '02': 'February',
  '03': 'March',
  '04': 'April',
  '05': 'May',
  '06': 'June',
  '07': 'July',
  '08': 'August',
  '09': 'September',
  '10': 'October',
  '11': 'November',
  '12': 'December'},
 'sex': {'M': 'Male', 'F': 'Female'},
 'age_substitution_flag': {'Blank': 'Calculated age is not substituted for reported age',
  '1': 'Calculated age is substituted for reported age'},
 'age_recode_52': {'01': 'Under 1 hour (includes not stated hours and minutes)',
  '02': '1 - 23 hours',
  '03': '1 day (includes not stated days)',
  '04': '2 days',
  '05': '3 days',
  '06': '4 days',
  '07': '5 days',
  '08': '6 days',
  '09': '7 - 13 days (includes not stated weeks)',
  '10': '14 - 20 days',
  '11': '21 - 27 days',
  '12': '1 month (includes not stated months)',
  '13': '2 months',
  '14': '3 months',
  '15': '4 months',
  '16': '5 months',
  '17': '6 months',
  '18': '7 months',
  '19': '8 months',
  '20': '9 months',
  '21': '10 months',
  '22': '11 months',
  '23': '1 year',
  '24': '2 years',
  '25': '3 years',
  '26': '4 years',
  '27': '5 - 9 years',
  '28': '10 - 14 years',
  '29': '15 - 19 years',
  '30': '20 - 24 years',
  '31': '25 - 29 years',
  '32': '30 - 34 years',
  '33': '35 - 39 years',
  '34': '40 - 44 years',
  '35': '45 - 49 years',
  '36': '50 - 54 years',
  '37': '55 - 59 years',
  '38': '60 - 64 years',
  '39': '65 - 69 years',
  '40': '70 - 74 years',
  '41': '75 - 79 years',
  '42': '80 - 84 years',
  '43': '85 - 89 years',
  '44': '90 - 94 years',
  '45': '95 - 99 years',
  '46': '100 - 104 years',
  '47': '105 - 109 years',
  '48': '110 - 114 years',
  '49': '115 - 119 years',
  '50': '120 - 124 years',
  '51': '125 years and over',
  '52': 'Age not stated'},
 'age_recode_27': {'01': 'Under 1 month (includes not stated weeks, days, hours, and',
  '02': '1 month - 11 months (includes not stated months)',
  '03': '1 years',
  '04': '2 years',
  '05': '3 years',
  '06': '4 years',
  '07': '5 - 9 years',
  '08': '10 - 14 years',
  '09': '15 - 19 years',
  '10': '20 - 24 years',
  '11': '25 - 29 years',
  '12': '30 - 34 years',
  '13': '35 - 39 years',
  '14': '40 - 44 years',
  '15': '45 - 49 years',
  '16': '50 - 54 years',
  '17': '55 - 59 years',
  '18': '60 - 64 years',
  '19': '65 - 69 years',
  '20': '70 - 74 years',
  '21': '75 - 79 years',
  '22': '80 - 84 years',
  '23': '85 - 89 years',
  '24': '90 - 94 years',
  '25': '95 - 99 years',
  '26': '100 years and over',
  '27': 'Age not stated'},
 'age_recode_12': {'01': 'Under 1 year (includes not stated infant ages)',
  '02': '1 - 4 years',
  '03': '5 - 14 years',
  '04': '15 - 24 years',
  '05': '25 - 34 years',
  '06': '35 - 44 years',
  '07': '45 - 54 years',
  '08': '55 - 64 years',
  '09': '65 - 74 years',
  '10': '75 - 84 years',
  '11': '85 years and over',
  '12': 'Age not stated'},
 'infant_age_recode_22': {'Blank': 'Age 1 year and over or not stated',
  '01': 'Under 1 hour (includes not stated hours and minutes)',
  '02': '1 - 23 hours',
  '03': '1 day (includes not stated days)',
  '04': '2 days',
  '05': '3 days',
  '06': '4 days',
  '07': '5 days',
  '08': '6 days',
  '09': '7-13 days (includes not stated weeks)',
  '10': '14 - 20 days',
  '11': '21 - 27 days',
  '12': '1 month (includes not stated months)',
  '13': '2 months',
  '14': '3 months',
  '15': '4 months',
  '16': '5 months',
  '17': '6 months',
  '18': '7 months',
  '19': '8 months',
  '20': '9 months',
  '21': '10 months',
  '22': '11 months'},
 'place_of_death_and_decedents_status': {'1': 'Hospital, clinic or Medical Center',
  '2': 'Hospital, Clinic or Medical Center',
  '3': 'Hospital, Clinic or Medical Center',
  '4': 'Decedent’s home',
  '5': 'Hospice facility',
  '6': 'Nursing home/long term care',
  '7': 'Other',
  '9': 'Place of death unknown'},
 'marital_status': {'S': 'Never married, single',
  'M': 'Married',
  'W': 'Widowed',
  'D': 'Divorced',
  'U': 'Marital Status unknown'},
 'day_of_week_of_death': {'1': 'Sunday',
  '2': 'Monday',
  '3': 'Tuesday',
  '4': 'Wednesday',
  '5': 'Thursday',
  '6': 'Friday',
  '7': 'Saturday',
  '9': 'Unknown'},
 'current_data_year': {'2005': '2005'},
 'injury_at_work': {'Y': 'Yes', 'N': 'No', 'U': 'Unknown'},
 'manner_of_death': {'1': 'Accident',
  '2': 'Suicide',
  '3': 'Homicide',
  '4': 'Pending investigation',
  '5': 'Could not determine',
  '6': 'Self-Inflicted',
  '7': 'Natural',
  'Blank': 'Not specified'},
 'method_of_disposition': {'B': 'Burial',
  'C': 'Cremation',
  'O': 'Other',
  'U': 'Unknown'},
 'autopsy': {'Y': 'Yes', 'N': 'No', 'U': 'Unknown'},
 'activity_code': {'0': 'While engaged in sports activity',
  '1': 'While engaged in leisure activity',
  '2': 'While working for income',
  '3': 'While engaged in other types of work',
  '4': 'While resting, sleeping, eating (vital activities)',
  '8': 'While engaged in other specified activities',
  '9': 'During unspecified activity',
  'Blank': 'Not applicable'},
 'place_of_injury_for_causes_w00_y34_except_y06_and_y07_': {'0': 'Home',
  '1': 'Residential institution',
  '2': 'School, other institution and public administrative',
  '3': 'Sports and athletics area',
  '4': 'Street and highway',
  '5': 'Trade and service area',
  '6': 'Industrial and construction area',
  '7': 'Farm',
  '8': 'Other Specified Places',
  '9': 'Unspecified place',
  'Blank': 'Causes other than W00-Y34, except Y06.- and Y07.-'},
 'icd_code_10th_revision': {'Icd Code (10Th Revision)': nan},
 '358_cause_recode': {'001': 'I. Certain infectious and parasitic diseases (A00-B99)',
  '002': 'Intestinal infectious diseases (A00-A09)',
  '003': 'Cholera (A00)',
  '004': 'Other intestinal infectious diseases (A01-A08)',
  '005': 'Typhoid fever (A01.0)',
  '006': 'Paratyphoid fevers and other salmonella infections (A01.1-A01.4,A02)',
  '007': 'Shigellosis (A03)',
  '008': 'Other bacterial food-borne intoxications (A05)',
  '009': 'Amebiasis (A06)',
  '010': 'Intestinal infections due to other specified organisms (A04,A07-A08)',
  '011': 'Diarrhea and gastroenteritis of infectious origin (A09)',
  '012': 'Tuberculosis (A16-A19)',
  '013': 'Respiratory tuberculosis (A16)',
  '014': 'Other tuberculosis (A17-A19)',
  '015': 'Zoonotic and other bacterial diseases (A20-A49)',
  '016': 'Plague (A20)',
  '017': 'Brucellosis (A23)',
  '018': 'Tetanus (A33-A35)',
  '019': 'Diptheria (A36)',
  '020': 'Whooping cough (A37)',
  '021': 'Scarlet fever and erysipelas (A38,A46)',
  '022': 'Meningococcal infection (A39)',
  '023': 'Septicemia (A40-A41)',
  '024': 'Other zoonotic and bacterial diseases (A21-A22,A24-A32,A42-A44, A48-A49)',
  '025': 'Infections with a predominately sexual mode of transmission (A50-A64)',
  '026': 'Syphilis (A50-A53)',
  '027': 'Cardiovascular syphilis (A52.0)',
  '028': 'Neurosyphilis (A52.1-A52.3)',
  '029': 'Other and unspecified syphilis (A50-A51,A52.7-A52.9,A53)',
  '030': 'Gonococcal infection (A54)',
  '031': 'Other infections with a predominately sexual mode of transmission (A55-A64)',
  '032': 'Other infections caused by spirochetes, chlamydia or rickettsia (A65-A79)',
  '033': 'Lyme disease (A69.2)',
  '034': 'Typhus fever (A75)',
  '035': 'All other infections caused by spirochetes, chlamydia or rickettsia (A65-A68,A69.0-A69.1,A69.8-A69.9,A70-A74,A77-A79)',
  '036': 'Viral diseases (A80-B34)',
  '037': 'Acute poliomyelitis (A80)',
  '038': 'Rabies (A82)',
  '039': 'Arthropod-borne viral encephalitis (A83-A84,A85.2)',
  '040': 'Yellow fever (A95)',
  '041': 'Other and unspecified arthropod-borne viral and hemorrhagic fevers (A90-A94,A96-A99)',
  '042': 'Herpesviral (herpes simplex) infections (B00)',
  '043': 'Zoster (herpes zoster) (B02)',
  '044': 'Smallpox (B03)',
  '045': 'Measles (B05)',
  '046': 'Rubella (German measles) (B06)',
  '047': 'Viral hepatitis (B15-B19)',
  '048': 'Human immunodeficiency virus (HIV) disease (B20-B24)',
  '049': 'Human immunodeficiency virus (HIV) disease resulting in infectious and parasitic diseases (B20)',
  '050': 'Human immunodeficiency virus (HIV) disease resulting in malignant neoplasms (B21)',
  '051': 'Human immunodeficiency virus (HIV) disease resulting in other specified diseases (B22)',
  '052': 'Human immunodeficiency virus (HIV) disease resulting in other conditions (B23)',
  '053': 'Unspecified human immunodeficiency virus (HIV) disease (B24)',
  '054': 'All other and unspecified viral diseases (A81,A85.0-A85.1,A85.8, A86-A89,B01,B04,B07-B09,B25-B34)',
  '055': 'Other and unspecified infectious and parasitic diseases and their sequelae (B35-B99)',
  '056': 'Mycoses (B35-B49)',
  '057': 'Protozoal diseases (B50-B64)',
  '058': 'Malaria (B50-B54)',
  '059': 'Leishmaniasis (B55)',
  '060': 'Trypanosomiasis (B56-B57)',
  '061': 'Pneumocystosis (B59)',
  '062': 'Other and unspecified protozoal diseases (B58,B60-B64)',
  '063': 'Helminthiases (B65-B83)',
  '064': 'Schistosomiasis (bilharziasis) (B65)',
  '065': 'Other and unspecified helminthiases (B66-B83)',
  '066': 'Sequelae of tuberculosis (B90)',
  '067': 'Sequelae of poliomyelitis (B91)',
  '068': 'All other and unspecified infectious and parasitic diseases and their sequelae (B85-B89,B92-B99)',
  '069': 'II. Neoplasms (C00-D48)',
  '070': 'Malignant neoplasms (C00-C97)',
  '071': 'Malignant neoplasms of lip, oral cavity and pharynx (C00-C14)',
  '072': 'Of lip (C00)',
  '073': 'Of tongue (C01-C02)',
  '074': 'Of pharynx (C10-C13,C14.0)',
  '075': 'Of other and unspecified sites within the lip, oral cavity and pharynx (C03-C09,C14.2-C14.8)',
  '076': 'Malignant neoplasms of digestive organs (C15-C26)',
  '077': 'Of esophagus (C15)',
  '078': 'Of stomach (C16)',
  '079': 'Of small intestine (C17)',
  '080': 'Of colon, rectum and anus (C18-C21)',
  '081': 'Colon (C18)',
  '082': 'Rectosigmoid junction and rectum (C19-C20)',
  '083': 'Anus and anus canal (C21)',
  '084': 'Of liver and intrahepatic bile ducts (C22)',
  '085': 'Liver (C22.0,C22.2-C22.9)',
  '086': 'Intrahepatic bile duct carcinoma (C22.1)',
  '087': 'Of gallbladder and extrahepatic bile ducts (C23-C24)',
  '088': 'Of pancreas (C25)',
  '089': 'Of other and ill-defined digestive organs (C26)',
  '090': 'Malignant neoplasms of respiratory and intrathoracic organs (C30-C39)',
  '091': 'Of nasal cavity, middle ear and accessory sinuses (C30-C31)',
  '092': 'Of larynx (C32)',
  '093': 'Of trachea, bronchus and lung (C33-C34)',
  '094': 'Of thymus, heart, mediastinum and pleura (C37-C38)',
  '095': 'Of other and ill-defined sites in respiratory system and intrathoracic organs (C39)',
  '096': 'Malignant neoplasms of bone and articular cartilage (C40-C41)',
  '097': 'Melanoma and other malignant neoplasms of skin (C43-C44)',
  '098': 'Malignant melanoma of skin (C43)',
  '099': 'Other malignant neoplasms of skin (C44)',
  '100': 'Malignant neoplasms of mesothelial and soft tissue (C45-C49)',
  '101': 'Mesothelioma (C45)',
  '102': 'Kaposi=s sarcoma (C46)',
  '103': 'Of other mesothelial and soft tissue (C47-C49)',
  '104': 'Malignant neoplasm of breast (C50)',
  '105': 'Malignant neoplasms of female genital organs (C51-C58)',
  '106': 'Of vulva and vagina (C51-C52)',
  '107': 'Of cervix uteri (C53)',
  '108': 'Of corpus uteri and uterus, part unspecified (C54-C55)',
  '109': 'Of ovary (C56)',
  '110': 'Of other and unspecified female genital organs (C57)',
  '111': 'Of placenta (C58)',
  '112': 'Malignant neoplasms of male genital organs (C60-C63)',
  '113': 'Of prostate (C61)',
  '114': 'Of testis (C62)',
  '115': 'Of penis and other and unspecified male genital organs (C60,C63)',
  '116': 'Malignant neoplasms of urinary tract (C64-C68)',
  '117': 'Of kidney and renal pelvis (C64-C65)',
  '118': 'Of bladder (C67)',
  '119': 'Of other and unspecified sites within the urinary tract (C66,C68)',
  '120': 'Malignant neoplasm of eye and adnexa (C69)',
  '121': 'Malignant neoplasms of meninges, brain and other parts of central nervous system (C70-C72)',
  '122': 'Of brain (C71)',
  '123': 'Of other parts of central nervous system (C70,C72)',
  '124': 'Malignant neoplasms of thyroid and other endocrine glands (C73-C75)',
  '125': 'Other malignant neoplasms of other and unspecified sites (C76-C80,C97)',
  '126': 'Malignant neoplasms of lymphoid, hematopoietic and related tissue (C81-C96)',
  '127': 'Hodgkin=s disease (C81)',
  '128': 'Of other lymphoid, hematopoietic and related tissue (C82-C85,C96)',
  '129': 'Non-Hodgkin=s lymphoma (C82-C85)',
  '130': 'Of other and unspecified lymphoid, hematopoietic and related tissue (C96)',
  '131': 'Malignant immunoproliferative diseases (C88)',
  '132': 'Multiple myeloma and malignant plasma cell neoplasms (C90)',
  '133': 'Leukemia (C91-C95)',
  '134': 'Lymphoid leukemia (C91)',
  '135': 'Myeloid leukemia (C92)',
  '136': 'Monocytic leukemia (C93)',
  '137': 'Other and unspecified leukemia (C94-C95)',
  '138': 'In situ neoplasms (D00-D09)',
  '139': 'Carcinoma in situ of breast and genitourinary system (D05-D07)',
  '140': 'Carcinoma in situ of other and unspecified sites (D00-D04,D09)',
  '141': 'Benign neoplasms (D10-D36)',
  '142': 'Of female genital organs (D25-D28)',
  '143': 'Of eye, brain and other parts of central nervous system (D31-D33)',
  '144': 'Of other and unspecified sites (D10-D24,D29-D30,D34-D36)',
  '145': 'Neoplasms of uncertain or unknown behavior of specified sites (D37-D47)',
  '146': 'Neoplasms of uncertain or unknown behavior of unspecified sites (D48)',
  '147': 'III. Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism (D50-D89)',
  '148': 'Anemias (D50-D64)',
  '149': 'Nutritional anemias (D50-D53)',
  '150': 'Hemolytic anemias (D55-D59)',
  '151': 'Aplastic anemias (D60-D61)',
  '152': 'Acute posthemorrhagic and other anemias (D62,D64)',
  '153': 'Coagulation defects, purpura and other hemorrhagic conditions (D65-D69)',
  '154': 'Other diseases of blood and blood-forming organs (D70-D76)',
  '155': 'Certain disorders involving the immune mechanism (D80-D89)',
  '156': 'IV. Endocrine, nutritional and metabolic diseases (E00-E88)',
  '157': 'Endocrine diseases (E00-E34)',
  '158': 'Disorders of thyroid gland (E00-E07)',
  '159': 'Diabetes mellitus (E10-E14)',
  '160': 'Disorders of pituitary gland (E22-E23)',
  '161': 'Disorders of adrenal glands (E24-E27)',
  '162': 'Diseases of thymus (E32)',
  '163': 'Other endocrine diseases (E15-E21,E28-E31,E34)',
  '164': 'Nutritional diseases (E40-E68)',
  '165': 'Malnutrition (E40-E46)',
  '166': 'Nutritional marasmus (E41)',
  '167': 'Other and unspecified malnutrition (E40,E42-E46)',
  '168': 'Other nutritional deficiences (E50-E64)',
  '169': 'Obesity and other hyperalimentation (E65-E68)',
  '170': 'Metabolic disorders (E70-E88)',
  '171': 'Cystic fibrosis (E84)',
  '172': 'Volume depletion, disorders of fluid, electrolyte and acid-base balance (E86-E87)',
  '173': 'Other metabolic disorders (E70-E83,E85,E88)',
  '174': 'V. Mental and behavioral disorders (F01-F99)',
  '175': 'Organic dementia (F01,F03)',
  '176': 'Other and unspecified organic mental disorders (F04-F09)',
  '177': 'Mental and behavioral disorders due to psychoactive substance use (F10-F19)',
  '178': 'Mental and behavioral disorders due to use of alcohol (F10)',
  '179': 'Mental and behavioral disorders due to other psychoactive substance use (F11-F19)',
  '180': 'Schizophrenia, schizotypal and delusional disorders (F20-F29)',
  '181': 'Mood (affective) disorders (F30-F39)',
  '182': 'Neurotic, stress-related and somatoform disorders (F40-F48)',
  '183': 'Mental retardation (F70-F79)',
  '184': 'Other and unspecified mental and behavioral disorders (F50-F69,F80-F99)',
  '185': 'VI. Diseases of the nervous system (G00-G98)',
  '186': 'Meningitis (G00,G03)',
  '187': 'Other inflammatory diseases of central nervous system (G04-G09)',
  '188': 'Parkinson=s disease (G20-G21)',
  '189': 'Alzheimer=s disease (G30)',
  '190': 'Multiple sclerosis (G35)',
  '191': 'Epilepsy (G40-G41)',
  '192': 'Transient cerebral ischemic attacks and related syndromes (G45)',
  '193': 'Infantile cerebral palsy (G80)',
  '194': 'All other diseases of nervous system (G10-G12,G23-G25,G31,G36-G37,G43-G44,G47-G72,G81-G98)',
  '195': 'VII. Diseases of the eye and adnexa (H00-H57)',
  '196': 'VIII. Diseases of the ear and mastoid process (H60-H93)',
  '197': 'IX. Diseases of the circulatory system (I00-I99)',
  '198': 'Acute rheumatic fever and chronic rheumatic heart diseases (I00-I09)',
  '199': 'Acute rheumatic fever (I00-I02)',
  '200': 'Chronic rheumatic heart diseases (I05-I09)',
  '201': 'Rheumatic mitral valve diseases (I05)',
  '202': 'Rheumatic aortic valve diseases (I06)',
  '203': 'Disorders of both mitral and aortic valves (I08.0)',
  '204': 'Other chronic rheumatic heart diseases (I07,I08.1-I08.9,I09)',
  '205': 'Hypertensive diseases (I10-I13)',
  '206': 'Essential (primary) hypertension (I10)',
  '207': 'Hypertensive heart disease (I11)',
  '208': 'Hypertensive renal disease (I12)',
  '209': 'Hypertensive heart and renal disease (I13)',
  '210': 'Ischemic heart diseases (I20-I25)',
  '211': 'Acute myocardial infarction (I21-I22)',
  '212': 'Other acute ischemic heart diseases (I24)',
  '213': 'Other forms of chronic ischemic heart diseases (I20,I25)',
  '214': 'Atherosclerotic cardiovascular disease, so described (I25.0)',
  '215': 'All other forms of chronic ischemic heart disease (I20,I25.1-I25.9)',
  '216': 'Other heart diseases (I26-I51)',
  '217': 'Pulmonary heart disease and diseases of pulmonary circulation (I26-I28)',
  '218': 'Pulmonary embolism (I26)',
  '219': 'Other pulmonary heart disease and diseases of pulmonary circulation (I27-I28)',
  '220': 'Other non-pulmonary forms of heart disease (I30-I51)',
  '221': 'Acute and subacute endocarditis (I33)',
  '222': 'Diseases of pericardium and acute myocarditis (I30-I31,I40)',
  '223': 'Other diseases of endocardium (I34-I38)',
  '224': 'Nonrheumatic mitral valve disorders (I34)',
  '225': 'Nonrheumatic aortic valve disorders (I35)',
  '226': 'All other diseases of endocardium (I36-I38)',
  '227': 'Cardiomyopathy (I42)',
  '228': 'Conduction disorders and cardiac dysrhythmias (I44-I49)',
  '229': 'Heart failure (I50)',
  '230': 'Congestive heart failure (I50.0)',
  '231': 'Other and unspecified heart failure (I50.1-I50.9)',
  '232': 'Myocarditis, unspecified and myocardial degeneration (I51.4-I51.5)',
  '233': 'All other and ill-defined forms of heart disease (I50.0-I51.3, I51.6-I51.9)',
  '234': 'Cerebrovascular diseases (I60-I69)',
  '235': 'Subarachnoid hemorrhage (I60)',
  '236': 'Intracerebral and other intracranial hemorrhage (I61-I62)',
  '237': 'Cerebral infarction (I63)',
  '238': 'Stroke, not specified as hemorrhage or infarction (I64)',
  '239': 'Other cerebrovascular diseases and their sequelae (I67,I69)',
  '240': 'Diseases of arteries, arterioles and capillaries (I70-I78)',
  '241': 'Atherosclerosis (I70)',
  '242': 'Aortic aneurysm and dissection (I71)',

# Map residents status from json

In [10]:
giant_df['resident_status'] = giant_df['resident_status'].apply(
    lambda x: code_maps_2005['resident_status'][str(x)])

In [11]:
giant_df.head()

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,...,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,RESIDENTS,11.0,NaN,0,1,F,1,45,NaN,35,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
1,RESIDENTS,13.0,NaN,0,1,M,1,61,NaN,38,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2,RESIDENTS,12.0,NaN,0,1,F,1,79,NaN,41,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
3,RESIDENTS,12.0,NaN,0,1,M,1,50,NaN,36,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
4,RESIDENTS,14.0,NaN,0,1,F,1,68,NaN,39,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6

# Modify json for education 1989 revision

In [12]:
code_maps_2005['education_1989_revision'] = {'0': 'No formal education',
 '1': 'Years of elementary school',
 '2': 'Years of elementary school',
 '3': 'Years of elementary school',
 '4': 'Years of elementary school',
 '5': 'Years of elementary school',
 '6': 'Years of elementary school',
 '7': 'Years of elementary school',
 '8': 'Years of elementary school',
 '9': '1 year of high school',
 '10': '2 years of high school',
 '11': '3 years of high school',
 '12': '4 years of high school',
 '13': '1 year of college',
 '14': '2 years of college',
 '15': '3 years of college',
 '16': '4 years of college',
 '17': '5 or more years of college',
 '99': 'Not stated'}

In [13]:
code_maps_2005

{'resident_status': {'1': 'RESIDENTS',
  '2': 'INTRASTATE NONRESIDENTS',
  '3': 'INTERSTATE NONRESIDENTS',
  '4': 'FOREIGN RESIDENTS'},
 'education_1989_revision': {'0': 'No formal education',
  '1': 'Years of elementary school',
  '2': 'Years of elementary school',
  '3': 'Years of elementary school',
  '4': 'Years of elementary school',
  '5': 'Years of elementary school',
  '6': 'Years of elementary school',
  '7': 'Years of elementary school',
  '8': 'Years of elementary school',
  '9': '1 year of high school',
  '10': '2 years of high school',
  '11': '3 years of high school',
  '12': '4 years of high school',
  '13': '1 year of college',
  '14': '2 years of college',
  '15': '3 years of college',
  '16': '4 years of college',
  '17': '5 or more years of college',
  '99': 'Not stated'},
 'education_2003_revision': {'1': '8th grade or less',
  '2': '9 - 12th grade, no diploma',
  '3': 'high school graduate or GED completed',
  '4': 'some college credit, but no degree',
  '5': 'Associate degree',
  '6': 'Bachelor’s degree',
  '7': 'Master’s degree',
  '8': 'Doctorate or professional degree',
  '9': 'Unknown'},
 'education_reporting_flag': {'0': '1989 revision of education item on certificate',
  '1': '2003 revision of education item on certificate',
  '2': 'no education item on certificate'},
 'month_of_death': {'01': 'January',
  '02': 'February',
  '03': 'March',
  '04': 'April',
  '05': 'May',
  '06': 'June',
  '07': 'July',
  '08': 'August',
  '09': 'September',
  '10': 'October',
  '11': 'November',
  '12': 'December'},
 'sex': {'M': 'Male', 'F': 'Female'},
 'age_substitution_flag': {'Blank': 'Calculated age is not substituted for reported age',
  '1': 'Calculated age is substituted for reported age'},
 'age_recode_52': {'01': 'Under 1 hour (includes not stated hours and minutes)',
  '02': '1 - 23 hours',
  '03': '1 day (includes not stated days)',
  '04': '2 days',
  '05': '3 days',
  '06': '4 days',
  '07': '5 days',
  '08': '6 days',
  '09': '7 - 13 days (includes not stated weeks)',
  '10': '14 - 20 days',
  '11': '21 - 27 days',
  '12': '1 month (includes not stated months)',
  '13': '2 months',
  '14': '3 months',
  '15': '4 months',
  '16': '5 months',
  '17': '6 months',
  '18': '7 months',
  '19': '8 months',
  '20': '9 months',
  '21': '10 months',
  '22': '11 months',
  '23': '1 year',
  '24': '2 years',
  '25': '3 years',
  '26': '4 years',
  '27': '5 - 9 years',
  '28': '10 - 14 years',
  '29': '15 - 19 years',
  '30': '20 - 24 years',
  '31': '25 - 29 years',
  '32': '30 - 34 years',
  '33': '35 - 39 years',
  '34': '40 - 44 years',
  '35': '45 - 49 years',
  '36': '50 - 54 years',
  '37': '55 - 59 years',
  '38': '60 - 64 years',
  '39': '65 - 69 years',
  '40': '70 - 74 years',
  '41': '75 - 79 years',
  '42': '80 - 84 years',
  '43': '85 - 89 years',
  '44': '90 - 94 years',
  '45': '95 - 99 years',
  '46': '100 - 104 years',
  '47': '105 - 109 years',
  '48': '110 - 114 years',
  '49': '115 - 119 years',
  '50': '120 - 124 years',
  '51': '125 years and over',
  '52': 'Age not stated'},
 'age_recode_27': {'01': 'Under 1 month (includes not stated weeks, days, hours, and',
  '02': '1 month - 11 months (includes not stated months)',
  '03': '1 years',
  '04': '2 years',
  '05': '3 years',
  '06': '4 years',
  '07': '5 - 9 years',
  '08': '10 - 14 years',
  '09': '15 - 19 years',
  '10': '20 - 24 years',
  '11': '25 - 29 years',
  '12': '30 - 34 years',
  '13': '35 - 39 years',
  '14': '40 - 44 years',
  '15': '45 - 49 years',
  '16': '50 - 54 years',
  '17': '55 - 59 years',
  '18': '60 - 64 years',
  '19': '65 - 69 years',
  '20': '70 - 74 years',
  '21': '75 - 79 years',
  '22': '80 - 84 years',
  '23': '85 - 89 years',
  '24': '90 - 94 years',
  '25': '95 - 99 years',
  '26': '100 years and over',
  '27': 'Age not stated'},
 'age_recode_12': {'01': 'Under 1 year (includes not stated infant ages)',
  '02': '1 - 4 years',
  '03': '5 - 14 years',
  '04': '15 - 24 years',
  '05': '25 - 34 years',
  '06': '35 - 44 years',
  '07': '45 - 54 years',
  '08': '55 - 64 years',
  '09': '65 - 74 years',
  '10': '75 - 84 years',
  '11': '85 years and over',
  '12': 'Age not stated'},
 'infant_age_recode_22': {'Blank': 'Age 1 year and over or not stated',
  '01': 'Under 1 hour (includes not stated hours and minutes)',
  '02': '1 - 23 hours',
  '03': '1 day (includes not stated days)',
  '04': '2 days',
  '05': '3 days',
  '06': '4 days',
  '07': '5 days',
  '08': '6 days',
  '09': '7-13 days (includes not stated weeks)',
  '10': '14 - 20 days',
  '11': '21 - 27 days',
  '12': '1 month (includes not stated months)',
  '13': '2 months',
  '14': '3 months',
  '15': '4 months',
  '16': '5 months',
  '17': '6 months',
  '18': '7 months',
  '19': '8 months',
  '20': '9 months',
  '21': '10 months',
  '22': '11 months'},
 'place_of_death_and_decedents_status': {'1': 'Hospital, clinic or Medical Center',
  '2': 'Hospital, Clinic or Medical Center',
  '3': 'Hospital, Clinic or Medical Center',
  '4': 'Decedent’s home',
  '5': 'Hospice facility',
  '6': 'Nursing home/long term care',
  '7': 'Other',
  '9': 'Place of death unknown'},
 'marital_status': {'S': 'Never married, single',
  'M': 'Married',
  'W': 'Widowed',
  'D': 'Divorced',
  'U': 'Marital Status unknown'},
 'day_of_week_of_death': {'1': 'Sunday',
  '2': 'Monday',
  '3': 'Tuesday',
  '4': 'Wednesday',
  '5': 'Thursday',
  '6': 'Friday',
  '7': 'Saturday',
  '9': 'Unknown'},
 'current_data_year': {'2005': '2005'},
 'injury_at_work': {'Y': 'Yes', 'N': 'No', 'U': 'Unknown'},
 'manner_of_death': {'1': 'Accident',
  '2': 'Suicide',
  '3': 'Homicide',
  '4': 'Pending investigation',
  '5': 'Could not determine',
  '6': 'Self-Inflicted',
  '7': 'Natural',
  'Blank': 'Not specified'},
 'method_of_disposition': {'B': 'Burial',
  'C': 'Cremation',
  'O': 'Other',
  'U': 'Unknown'},
 'autopsy': {'Y': 'Yes', 'N': 'No', 'U': 'Unknown'},
 'activity_code': {'0': 'While engaged in sports activity',
  '1': 'While engaged in leisure activity',
  '2': 'While working for income',
  '3': 'While engaged in other types of work',
  '4': 'While resting, sleeping, eating (vital activities)',
  '8': 'While engaged in other specified activities',
  '9': 'During unspecified activity',
  'Blank': 'Not applicable'},
 'place_of_injury_for_causes_w00_y34_except_y06_and_y07_': {'0': 'Home',
  '1': 'Residential institution',
  '2': 'School, other institution and public administrative',
  '3': 'Sports and athletics area',
  '4': 'Street and highway',
  '5': 'Trade and service area',
  '6': 'Industrial and construction area',
  '7': 'Farm',
  '8': 'Other Specified Places',
  '9': 'Unspecified place',
  'Blank': 'Causes other than W00-Y34, except Y06.- and Y07.-'},
 'icd_code_10th_revision': {'Icd Code (10Th Revision)': nan},
 '358_cause_recode': {'001': 'I. Certain infectious and parasitic diseases (A00-B99)',
  '002': 'Intestinal infectious diseases (A00-A09)',
  '003': 'Cholera (A00)',
  '004': 'Other intestinal infectious diseases (A01-A08)',
  '005': 'Typhoid fever (A01.0)',
  '006': 'Paratyphoid fevers and other salmonella infections (A01.1-A01.4,A02)',
  '007': 'Shigellosis (A03)',
  '008': 'Other bacterial food-borne intoxications (A05)',
  '009': 'Amebiasis (A06)',
  '010': 'Intestinal infections due to other specified organisms (A04,A07-A08)',
  '011': 'Diarrhea and gastroenteritis of infectious origin (A09)',
  '012': 'Tuberculosis (A16-A19)',
  '013': 'Respiratory tuberculosis (A16)',
  '014': 'Other tuberculosis (A17-A19)',
  '015': 'Zoonotic and other bacterial diseases (A20-A49)',
  '016': 'Plague (A20)',
  '017': 'Brucellosis (A23)',
  '018': 'Tetanus (A33-A35)',
  '019': 'Diptheria (A36)',
  '020': 'Whooping cough (A37)',
  '021': 'Scarlet fever and erysipelas (A38,A46)',
  '022': 'Meningococcal infection (A39)',
  '023': 'Septicemia (A40-A41)',
  '024': 'Other zoonotic and bacterial diseases (A21-A22,A24-A32,A42-A44, A48-A49)',
  '025': 'Infections with a predominately sexual mode of transmission (A50-A64)',
  '026': 'Syphilis (A50-A53)',
  '027': 'Cardiovascular syphilis (A52.0)',
  '028': 'Neurosyphilis (A52.1-A52.3)',
  '029': 'Other and unspecified syphilis (A50-A51,A52.7-A52.9,A53)',
  '030': 'Gonococcal infection (A54)',
  '031': 'Other infections with a predominately sexual mode of transmission (A55-A64)',
  '032': 'Other infections caused by spirochetes, chlamydia or rickettsia (A65-A79)',
  '033': 'Lyme disease (A69.2)',
  '034': 'Typhus fever (A75)',
  '035': 'All other infections caused by spirochetes, chlamydia or rickettsia (A65-A68,A69.0-A69.1,A69.8-A69.9,A70-A74,A77-A79)',
  '036': 'Viral diseases (A80-B34)',
  '037': 'Acute poliomyelitis (A80)',
  '038': 'Rabies (A82)',
  '039': 'Arthropod-borne viral encephalitis (A83-A84,A85.2)',
  '040': 'Yellow fever (A95)',
  '041': 'Other and unspecified arthropod-borne viral and hemorrhagic fevers (A90-A94,A96-A99)',
  '042': 'Herpesviral (herpes simplex) infections (B00)',
  '043': 'Zoster (herpes zoster) (B02)',
  '044': 'Smallpox (B03)',
  '045': 'Measles (B05)',
  '046': 'Rubella (German measles) (B06)',
  '047': 'Viral hepatitis (B15-B19)',
  '048': 'Human immunodeficiency virus (HIV) disease (B20-B24)',
  '049': 'Human immunodeficiency virus (HIV) disease resulting in infectious and parasitic diseases (B20)',
  '050': 'Human immunodeficiency virus (HIV) disease resulting in malignant neoplasms (B21)',
  '051': 'Human immunodeficiency virus (HIV) disease resulting in other specified diseases (B22)',
  '052': 'Human immunodeficiency virus (HIV) disease resulting in other conditions (B23)',
  '053': 'Unspecified human immunodeficiency virus (HIV) disease (B24)',
  '054': 'All other and unspecified viral diseases (A81,A85.0-A85.1,A85.8, A86-A89,B01,B04,B07-B09,B25-B34)',
  '055': 'Other and unspecified infectious and parasitic diseases and their sequelae (B35-B99)',
  '056': 'Mycoses (B35-B49)',
  '057': 'Protozoal diseases (B50-B64)',
  '058': 'Malaria (B50-B54)',
  '059': 'Leishmaniasis (B55)',
  '060': 'Trypanosomiasis (B56-B57)',
  '061': 'Pneumocystosis (B59)',
  '062': 'Other and unspecified protozoal diseases (B58,B60-B64)',
  '063': 'Helminthiases (B65-B83)',
  '064': 'Schistosomiasis (bilharziasis) (B65)',
  '065': 'Other and unspecified helminthiases (B66-B83)',
  '066': 'Sequelae of tuberculosis (B90)',
  '067': 'Sequelae of poliomyelitis (B91)',
  '068': 'All other and unspecified infectious and parasitic diseases and their sequelae (B85-B89,B92-B99)',
  '069': 'II. Neoplasms (C00-D48)',
  '070': 'Malignant neoplasms (C00-C97)',
  '071': 'Malignant neoplasms of lip, oral cavity and pharynx (C00-C14)',
  '072': 'Of lip (C00)',
  '073': 'Of tongue (C01-C02)',
  '074': 'Of pharynx (C10-C13,C14.0)',
  '075': 'Of other and unspecified sites within the lip, oral cavity and pharynx (C03-C09,C14.2-C14.8)',
  '076': 'Malignant neoplasms of digestive organs (C15-C26)',
  '077': 'Of esophagus (C15)',
  '078': 'Of stomach (C16)',
  '079': 'Of small intestine (C17)',
  '080': 'Of colon, rectum and anus (C18-C21)',
  '081': 'Colon (C18)',
  '082': 'Rectosigmoid junction and rectum (C19-C20)',
  '083': 'Anus and anus canal (C21)',
  '084': 'Of liver and intrahepatic bile ducts (C22)',
  '085': 'Liver (C22.0,C22.2-C22.9)',
  '086': 'Intrahepatic bile duct carcinoma (C22.1)',
  '087': 'Of gallbladder and extrahepatic bile ducts (C23-C24)',
  '088': 'Of pancreas (C25)',
  '089': 'Of other and ill-defined digestive organs (C26)',
  '090': 'Malignant neoplasms of respiratory and intrathoracic organs (C30-C39)',
  '091': 'Of nasal cavity, middle ear and accessory sinuses (C30-C31)',
  '092': 'Of larynx (C32)',
  '093': 'Of trachea, bronchus and lung (C33-C34)',
  '094': 'Of thymus, heart, mediastinum and pleura (C37-C38)',
  '095': 'Of other and ill-defined sites in respiratory system and intrathoracic organs (C39)',
  '096': 'Malignant neoplasms of bone and articular cartilage (C40-C41)',
  '097': 'Melanoma and other malignant neoplasms of skin (C43-C44)',
  '098': 'Malignant melanoma of skin (C43)',
  '099': 'Other malignant neoplasms of skin (C44)',
  '100': 'Malignant neoplasms of mesothelial and soft tissue (C45-C49)',
  '101': 'Mesothelioma (C45)',
  '102': 'Kaposi=s sarcoma (C46)',
  '103': 'Of other mesothelial and soft tissue (C47-C49)',
  '104': 'Malignant neoplasm of breast (C50)',
  '105': 'Malignant neoplasms of female genital organs (C51-C58)',
  '106': 'Of vulva and vagina (C51-C52)',
  '107': 'Of cervix uteri (C53)',
  '108': 'Of corpus uteri and uterus, part unspecified (C54-C55)',
  '109': 'Of ovary (C56)',
  '110': 'Of other and unspecified female genital organs (C57)',
  '111': 'Of placenta (C58)',
  '112': 'Malignant neoplasms of male genital organs (C60-C63)',
  '113': 'Of prostate (C61)',
  '114': 'Of testis (C62)',
  '115': 'Of penis and other and unspecified male genital organs (C60,C63)',
  '116': 'Malignant neoplasms of urinary tract (C64-C68)',
  '117': 'Of kidney and renal pelvis (C64-C65)',
  '118': 'Of bladder (C67)',
  '119': 'Of other and unspecified sites within the urinary tract (C66,C68)',
  '120': 'Malignant neoplasm of eye and adnexa (C69)',
  '121': 'Malignant neoplasms of meninges, brain and other parts of central nervous system (C70-C72)',
  '122': 'Of brain (C71)',
  '123': 'Of other parts of central nervous system (C70,C72)',
  '124': 'Malignant neoplasms of thyroid and other endocrine glands (C73-C75)',
  '125': 'Other malignant neoplasms of other and unspecified sites (C76-C80,C97)',
  '126': 'Malignant neoplasms of lymphoid, hematopoietic and related tissue (C81-C96)',
  '127': 'Hodgkin=s disease (C81)',
  '128': 'Of other lymphoid, hematopoietic and related tissue (C82-C85,C96)',
  '129': 'Non-Hodgkin=s lymphoma (C82-C85)',
  '130': 'Of other and unspecified lymphoid, hematopoietic and related tissue (C96)',
  '131': 'Malignant immunoproliferative diseases (C88)',
  '132': 'Multiple myeloma and malignant plasma cell neoplasms (C90)',
  '133': 'Leukemia (C91-C95)',
  '134': 'Lymphoid leukemia (C91)',
  '135': 'Myeloid leukemia (C92)',
  '136': 'Monocytic leukemia (C93)',
  '137': 'Other and unspecified leukemia (C94-C95)',
  '138': 'In situ neoplasms (D00-D09)',
  '139': 'Carcinoma in situ of breast and genitourinary system (D05-D07)',
  '140': 'Carcinoma in situ of other and unspecified sites (D00-D04,D09)',
  '141': 'Benign neoplasms (D10-D36)',
  '142': 'Of female genital organs (D25-D28)',
  '143': 'Of eye, brain and other parts of central nervous system (D31-D33)',
  '144': 'Of other and unspecified sites (D10-D24,D29-D30,D34-D36)',
  '145': 'Neoplasms of uncertain or unknown behavior of specified sites (D37-D47)',
  '146': 'Neoplasms of uncertain or unknown behavior of unspecified sites (D48)',
  '147': 'III. Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism (D50-D89)',
  '148': 'Anemias (D50-D64)',
  '149': 'Nutritional anemias (D50-D53)',
  '150': 'Hemolytic anemias (D55-D59)',
  '151': 'Aplastic anemias (D60-D61)',
  '152': 'Acute posthemorrhagic and other anemias (D62,D64)',
  '153': 'Coagulation defects, purpura and other hemorrhagic conditions (D65-D69)',
  '154': 'Other diseases of blood and blood-forming organs (D70-D76)',
  '155': 'Certain disorders involving the immune mechanism (D80-D89)',
  '156': 'IV. Endocrine, nutritional and metabolic diseases (E00-E88)',
  '157': 'Endocrine diseases (E00-E34)',
  '158': 'Disorders of thyroid gland (E00-E07)',
  '159': 'Diabetes mellitus (E10-E14)',
  '160': 'Disorders of pituitary gland (E22-E23)',
  '161': 'Disorders of adrenal glands (E24-E27)',
  '162': 'Diseases of thymus (E32)',
  '163': 'Other endocrine diseases (E15-E21,E28-E31,E34)',
  '164': 'Nutritional diseases (E40-E68)',
  '165': 'Malnutrition (E40-E46)',
  '166': 'Nutritional marasmus (E41)',
  '167': 'Other and unspecified malnutrition (E40,E42-E46)',
  '168': 'Other nutritional deficiences (E50-E64)',
  '169': 'Obesity and other hyperalimentation (E65-E68)',
  '170': 'Metabolic disorders (E70-E88)',
  '171': 'Cystic fibrosis (E84)',
  '172': 'Volume depletion, disorders of fluid, electrolyte and acid-base balance (E86-E87)',
  '173': 'Other metabolic disorders (E70-E83,E85,E88)',
  '174': 'V. Mental and behavioral disorders (F01-F99)',
  '175': 'Organic dementia (F01,F03)',
  '176': 'Other and unspecified organic mental disorders (F04-F09)',
  '177': 'Mental and behavioral disorders due to psychoactive substance use (F10-F19)',
  '178': 'Mental and behavioral disorders due to use of alcohol (F10)',
  '179': 'Mental and behavioral disorders due to other psychoactive substance use (F11-F19)',
  '180': 'Schizophrenia, schizotypal and delusional disorders (F20-F29)',
  '181': 'Mood (affective) disorders (F30-F39)',
  '182': 'Neurotic, stress-related and somatoform disorders (F40-F48)',
  '183': 'Mental retardation (F70-F79)',
  '184': 'Other and unspecified mental and behavioral disorders (F50-F69,F80-F99)',
  '185': 'VI. Diseases of the nervous system (G00-G98)',
  '186': 'Meningitis (G00,G03)',
  '187': 'Other inflammatory diseases of central nervous system (G04-G09)',
  '188': 'Parkinson=s disease (G20-G21)',
  '189': 'Alzheimer=s disease (G30)',
  '190': 'Multiple sclerosis (G35)',
  '191': 'Epilepsy (G40-G41)',
  '192': 'Transient cerebral ischemic attacks and related syndromes (G45)',
  '193': 'Infantile cerebral palsy (G80)',
  '194': 'All other diseases of nervous system (G10-G12,G23-G25,G31,G36-G37,G43-G44,G47-G72,G81-G98)',
  '195': 'VII. Diseases of the eye and adnexa (H00-H57)',
  '196': 'VIII. Diseases of the ear and mastoid process (H60-H93)',
  '197': 'IX. Diseases of the circulatory system (I00-I99)',
  '198': 'Acute rheumatic fever and chronic rheumatic heart diseases (I00-I09)',
  '199': 'Acute rheumatic fever (I00-I02)',
  '200': 'Chronic rheumatic heart diseases (I05-I09)',
  '201': 'Rheumatic mitral valve diseases (I05)',
  '202': 'Rheumatic aortic valve diseases (I06)',
  '203': 'Disorders of both mitral and aortic valves (I08.0)',
  '204': 'Other chronic rheumatic heart diseases (I07,I08.1-I08.9,I09)',
  '205': 'Hypertensive diseases (I10-I13)',
  '206': 'Essential (primary) hypertension (I10)',
  '207': 'Hypertensive heart disease (I11)',
  '208': 'Hypertensive renal disease (I12)',
  '209': 'Hypertensive heart and renal disease (I13)',
  '210': 'Ischemic heart diseases (I20-I25)',
  '211': 'Acute myocardial infarction (I21-I22)',
  '212': 'Other acute ischemic heart diseases (I24)',
  '213': 'Other forms of chronic ischemic heart diseases (I20,I25)',
  '214': 'Atherosclerotic cardiovascular disease, so described (I25.0)',
  '215': 'All other forms of chronic ischemic heart disease (I20,I25.1-I25.9)',
  '216': 'Other heart diseases (I26-I51)',
  '217': 'Pulmonary heart disease and diseases of pulmonary circulation (I26-I28)',
  '218': 'Pulmonary embolism (I26)',
  '219': 'Other pulmonary heart disease and diseases of pulmonary circulation (I27-I28)',
  '220': 'Other non-pulmonary forms of heart disease (I30-I51)',
  '221': 'Acute and subacute endocarditis (I33)',
  '222': 'Diseases of pericardium and acute myocarditis (I30-I31,I40)',
  '223': 'Other diseases of endocardium (I34-I38)',
  '224': 'Nonrheumatic mitral valve disorders (I34)',
  '225': 'Nonrheumatic aortic valve disorders (I35)',
  '226': 'All other diseases of endocardium (I36-I38)',
  '227': 'Cardiomyopathy (I42)',
  '228': 'Conduction disorders and cardiac dysrhythmias (I44-I49)',
  '229': 'Heart failure (I50)',
  '230': 'Congestive heart failure (I50.0)',
  '231': 'Other and unspecified heart failure (I50.1-I50.9)',
  '232': 'Myocarditis, unspecified and myocardial degeneration (I51.4-I51.5)',
  '233': 'All other and ill-defined forms of heart disease (I50.0-I51.3, I51.6-I51.9)',
  '234': 'Cerebrovascular diseases (I60-I69)',
  '235': 'Subarachnoid hemorrhage (I60)',
  '236': 'Intracerebral and other intracranial hemorrhage (I61-I62)',
  '237': 'Cerebral infarction (I63)',

# Map edu 1989 revision from json

In [14]:
giant_df['education_1989_revision'] = giant_df['education_1989_revision'].apply(
    lambda x: code_maps_2005['education_1989_revision'][str(int(x))] if pd.notnull(x) else x)

# Map edu 2003 revision from json

In [15]:
giant_df['education_2003_revision'] = giant_df['education_2003_revision'].apply(
    lambda x: code_maps_2005['education_2003_revision'][str(int(x))] if pd.notnull(x) else x)

In [16]:
giant_df['education_2003_revision']

0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
5                                            NaN
6                                            NaN
7                                            NaN
8                                            NaN
9                                            NaN
10                                           NaN
11                                           NaN
12                                           NaN
13                                           NaN
14                                           NaN
15                                           NaN
16                                           NaN
17                                           NaN
18                                           NaN
19                                           NaN
20                                           NaN
21                                           NaN
22                                           NaN
23                                           NaN
24                                           NaN
25                                           NaN
26                                           NaN
27                                           NaN
28                                           NaN
29                                           NaN
                           ...
2452476                        8th grade or less
2452477    high school graduate or GED completed
2452478                                  Unknown
2452479                                  Unknown
2452480                                  Unknown
2452481                        8th grade or less
2452482                                  Unknown
2452483                                  Unknown
2452484    high school graduate or GED completed
2452485    high school graduate or GED completed
2452486                                  Unknown
2452487                                  Unknown
2452488                                  Unknown
2452489                                  Unknown
2452490                                  Unknown
2452491                                  Unknown
2452492                                  Unknown
2452493                                  Unknown
2452494                                  Unknown
2452495                        8th grade or less
2452496                        8th grade or less
2452497                        8th grade or less
2452498                                  Unknown
2452499                                  Unknown
2452500                        8th grade or less
2452501                                  Unknown
2452502                        8th grade or less
2452503                        8th grade or less
2452504                        8th grade or less
2452505                                  Unknown
Name: education_2003_revision, Length: 2452506, dtype: object

# Make new column for edu revision combining columns from both years

In [17]:
giant_df['education_revision'] = giant_df['education_1989_revision']

In [18]:
giant_df.education_revision.fillna(giant_df.education_2003_revision,inplace=True)

# Map detail age type from json

In [19]:
giant_df['detail_age_type'] = giant_df['detail_age_type'].apply(
    lambda x: code_maps_2005['detail_age_type'][str(x)])

In [20]:
giant_df

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,...,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode,education_revision
0,RESIDENTS,3 years of high school,NaN,0,1,F,Years,45,NaN,35,...,NaN,NaN,1,NaN,NaN,1,1,100,6,3 years of high school
1,RESIDENTS,1 year of college,NaN,0,1,M,Years,61,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,1 year of college
2,RESIDENTS,4 years of high school,NaN,0,1,F,Years,79,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
3,RESIDENTS,4 years of high school,NaN,0,1,M,Years,50,NaN,36,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
4,RESIDENTS,2 years of college,NaN,0,1,F,Years,68,NaN,39,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
5,RESIDENTS,Years of elementary school,NaN,0,1,F,Years,89,NaN,43,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Years of elementary school
6,RESIDENTS,4 years of high school,NaN,0,1,F,Years,68,NaN,39,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
7,RESIDENTS,4 years of high school,NaN,0,1,M,Years,61,NaN,38,...,NaN,NaN,3,NaN,NaN,2,3,100,8,4 years of high school
8,RESIDENTS,2 years of college,NaN,0,1,F,Years,73,NaN,40,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
9,INTERSTATE NONRESIDENTS,Years of elementary school,NaN,0,1,F,Years,85,NaN,43,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Years of elementary school
10,RESIDENTS,Years of elementary school,NaN,0,1,F,Years,93,NaN,44,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Years of elementary school
11,RESIDENTS,3 years of high school,NaN,0,1,M,Years,77,NaN,41,...,NaN,NaN,2,NaN,NaN,3,2,100,7,3 years of high school
12,RESIDENTS,Years of elementary school,NaN,0,1,M,Years,78,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Years of elementary school
13,RESIDENTS,2 years of college,NaN,0,1,M,Years,48,NaN,35,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
14,RESIDENTS,4 years of high school,NaN,0,1,M,Years,78,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
15,RESIDENTS,4 years of high school,NaN,0,1,F,Years,59,NaN,37,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
16,RESIDENTS,Years of elementary school,NaN,0,1,M,Years,77,NaN,41,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Years of elementary school
17,RESIDENTS,5 or more years of college,NaN,0,1,M,Years,39,NaN,33,...,NaN,NaN,1,NaN,NaN,1,1,211,1,5 or more years of college
18,RESIDENTS,4 years of high school,NaN,0,1,M,Years,64,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
19,RESIDENTS,4 years of high school,NaN,0,1,F,Years,90,NaN,44,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
20,RESIDENTS,4 years of high school,NaN,0,1,M,Years,81,NaN,42,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
21,RESIDENTS,Not stated,NaN,0,1,M,Years,33,NaN,32,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Not stated
22,RESIDENTS,4 years of high school,NaN,0,1,F,Years,63,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
23,RESIDENTS,2 years of college,NaN,0,1,F,Years,81,NaN,42,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
24,RESIDENTS,4 years of high school,NaN,0,1,M,Years,78,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
25,RESIDENTS,4 years of high school,NaN,0,1,M,Years,46,NaN,35,...,NaN,NaN,3,NaN,NaN,2,3,100,8,4 years of high school
26,RESIDENTS,3 years of college,NaN,0,1,F,Years,69,NaN,39,...,NaN,NaN,1,NaN,NaN,1,1,100,6,3 years of college
27,RESIDENTS,2 years of college,NaN,0,1,M,Years,76,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
28,RESIDENTS,Years of elementary school,NaN,0,1,M,Years,75,NaN,41,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Years of elementary school
29,RESIDENTS,4 years of college,NaN,0,1,F,Years,94,NaN,44,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of college
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452476,RESIDENTS,NaN,8th grade or less,1,12,M,Days,6,NaN,8,...,NaN,NaN,2,NaN,NaN,3,2,100,7,8th grade or less
2452477,RESIDENTS,NaN,high school graduate or GED completed,1,12,F,Years,87,NaN,43,...,NaN,NaN,2,NaN,NaN,3,2,100,7,high school graduate or GED completed
2452478,RESIDENTS,NaN,Unknown,1,12,F,Years,65,NaN,39,...,NaN,NaN,2,NaN,NaN,3,2,998,9,Unknown
2452479,RESIDENTS,NaN,Unknown,1,12,M,Years,57,NaN,37,...,NaN,NaN,2,NaN,NaN,3,2,998,9,Unknown
2452480,RESIDENTS,NaN,Unknown,1,12,M,Years,47,NaN,35,...,NaN,NaN,1,NaN,NaN,1,1,998,9,Unknown
2452481,RESIDENTS,NaN,8th grade or less,1,9,F,Years,78,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,8th grade or less
2452482,RESIDENTS,NaN,Unknown,1,12,F,Years,44,NaN,34,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452483,RESIDENTS,NaN,Unknown,1,12,F,Years,32,NaN,32,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452484,RESIDENTS,NaN,high school graduate or GED completed,1,12,M,Years,71,NaN,40,...,NaN,NaN,1,NaN,NaN,1,1,281,5,high school graduate or GED completed
2452485,RESIDENTS,NaN,high school graduate or GED completed,1,11,M,Years,58,NaN,37,...,NaN,NaN,1,NaN,NaN,1,1,100,6,high school graduate or GED completed
2452486,RESIDENTS,NaN,Unknown,1,12,F,Years,94,NaN,44,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452487,RESIDENTS,NaN,Unknown,1,12,F,Years,61,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452488,INTRASTATE NONRESIDENTS,NaN,Unknown,1,12,M,Years,56,NaN,37,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452489,FOREIGN RESIDENTS,NaN,Unknown,1,12,M,Years,56,NaN,37,...,NaN,NaN,1,NaN,NaN,1,1,998,9,Unknown
2452490,RESIDENTS,NaN,Unknown,1,12,M,Years,66,NaN,39,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452491,FOREIGN RESIDENTS,NaN,Unknown,1,12,M,Years,70,NaN,40,...,NaN,NaN,2,NaN,NaN,3,2,998,9,Unknown
2452492,FOREIGN RESIDENTS,NaN,Unknown,1,12,M,Years,51,NaN,36,...,NaN,NaN,1,NaN,NaN,1,1,998,9,Unknown
2452493,RESIDENTS,NaN,Unknown,1,12,M,Years,87,NaN,43,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452494,RESIDENTS,NaN,Unknown,1,11,F,Years,80,NaN,42,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452495,RESIDENTS,NaN,8th grade or less,1,12,F,Days,2,NaN,4,...,NaN,NaN,1,NaN,NaN,1,1,281,5,8th grade or less
2452496,RESIDENTS,NaN,8th grade or less,1,8,F,Days,3,NaN,5,...,NaN,NaN,1,NaN,NaN,1,1,281,5,8th grade or less
2452497,RESIDENTS,NaN,8th grade or less,1,12,M,Minutes,15,NaN,1,...,NaN,NaN,2,NaN,NaN,3,2,100,7,8th grade or less
2452498,RESIDENTS,NaN,Unknown,1,12,M,Years,77,NaN,41,...,NaN,NaN,2,NaN,1.0,3,2,998,9,Unknown
2452499,RESIDENTS,NaN,Unknown,1,12,M,Years,83,NaN,42,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452500,INTRASTATE NONRESIDENTS,NaN,8th grade or less,1,10,M,Minutes,5,NaN,1,...,NaN,NaN,1,NaN,NaN,1,1,100,6,8th grade or less
2452501,RESIDENTS,NaN,Unknown,1,12,M,Years,59,NaN,37,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452502,RESIDENTS,NaN,8th grade or less,1,9,M,Days,2,NaN,4,...,NaN,NaN,2,NaN,NaN,3,2,100,7,8th grade or less
2452503,RESIDENTS,NaN,8th grade or less,1,8,F,Days,22,NaN,11,...,NaN,NaN,2,NaN,NaN,3,2,100,7,8th grade or less
2452504,RESIDENTS,NaN,8th grade or less,1,8,M,Minutes,1,NaN,1,...,NaN,NaN,1,NaN,NaN,1,1,100,6,8th grade or less
2452505,RESIDENTS,NaN,Unknown,1,12,F,Years,85,NaN,43,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown

In [21]:
giant_df

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,...,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode,education_revision
0,RESIDENTS,3 years of high school,NaN,0,1,F,Years,45,NaN,35,...,NaN,NaN,1,NaN,NaN,1,1,100,6,3 years of high school
1,RESIDENTS,1 year of college,NaN,0,1,M,Years,61,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,1 year of college
2,RESIDENTS,4 years of high school,NaN,0,1,F,Years,79,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
3,RESIDENTS,4 years of high school,NaN,0,1,M,Years,50,NaN,36,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
4,RESIDENTS,2 years of college,NaN,0,1,F,Years,68,NaN,39,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
5,RESIDENTS,Years of elementary school,NaN,0,1,F,Years,89,NaN,43,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Years of elementary school
6,RESIDENTS,4 years of high school,NaN,0,1,F,Years,68,NaN,39,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
7,RESIDENTS,4 years of high school,NaN,0,1,M,Years,61,NaN,38,...,NaN,NaN,3,NaN,NaN,2,3,100,8,4 years of high school
8,RESIDENTS,2 years of college,NaN,0,1,F,Years,73,NaN,40,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
9,INTERSTATE NONRESIDENTS,Years of elementary school,NaN,0,1,F,Years,85,NaN,43,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Years of elementary school
10,RESIDENTS,Years of elementary school,NaN,0,1,F,Years,93,NaN,44,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Years of elementary school
11,RESIDENTS,3 years of high school,NaN,0,1,M,Years,77,NaN,41,...,NaN,NaN,2,NaN,NaN,3,2,100,7,3 years of high school
12,RESIDENTS,Years of elementary school,NaN,0,1,M,Years,78,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Years of elementary school
13,RESIDENTS,2 years of college,NaN,0,1,M,Years,48,NaN,35,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
14,RESIDENTS,4 years of high school,NaN,0,1,M,Years,78,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
15,RESIDENTS,4 years of high school,NaN,0,1,F,Years,59,NaN,37,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
16,RESIDENTS,Years of elementary school,NaN,0,1,M,Years,77,NaN,41,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Years of elementary school
17,RESIDENTS,5 or more years of college,NaN,0,1,M,Years,39,NaN,33,...,NaN,NaN,1,NaN,NaN,1,1,211,1,5 or more years of college
18,RESIDENTS,4 years of high school,NaN,0,1,M,Years,64,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
19,RESIDENTS,4 years of high school,NaN,0,1,F,Years,90,NaN,44,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
20,RESIDENTS,4 years of high school,NaN,0,1,M,Years,81,NaN,42,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
21,RESIDENTS,Not stated,NaN,0,1,M,Years,33,NaN,32,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Not stated
22,RESIDENTS,4 years of high school,NaN,0,1,F,Years,63,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
23,RESIDENTS,2 years of college,NaN,0,1,F,Years,81,NaN,42,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
24,RESIDENTS,4 years of high school,NaN,0,1,M,Years,78,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
25,RESIDENTS,4 years of high school,NaN,0,1,M,Years,46,NaN,35,...,NaN,NaN,3,NaN,NaN,2,3,100,8,4 years of high school
26,RESIDENTS,3 years of college,NaN,0,1,F,Years,69,NaN,39,...,NaN,NaN,1,NaN,NaN,1,1,100,6,3 years of college
27,RESIDENTS,2 years of college,NaN,0,1,M,Years,76,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
28,RESIDENTS,Years of elementary school,NaN,0,1,M,Years,75,NaN,41,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Years of elementary school
29,RESIDENTS,4 years of college,NaN,0,1,F,Years,94,NaN,44,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of college
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452476,RESIDENTS,NaN,8th grade or less,1,12,M,Days,6,NaN,8,...,NaN,NaN,2,NaN,NaN,3,2,100,7,8th grade or less
2452477,RESIDENTS,NaN,high school graduate or GED completed,1,12,F,Years,87,NaN,43,...,NaN,NaN,2,NaN,NaN,3,2,100,7,high school graduate or GED completed
2452478,RESIDENTS,NaN,Unknown,1,12,F,Years,65,NaN,39,...,NaN,NaN,2,NaN,NaN,3,2,998,9,Unknown
2452479,RESIDENTS,NaN,Unknown,1,12,M,Years,57,NaN,37,...,NaN,NaN,2,NaN,NaN,3,2,998,9,Unknown
2452480,RESIDENTS,NaN,Unknown,1,12,M,Years,47,NaN,35,...,NaN,NaN,1,NaN,NaN,1,1,998,9,Unknown
2452481,RESIDENTS,NaN,8th grade or less,1,9,F,Years,78,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,8th grade or less
2452482,RESIDENTS,NaN,Unknown,1,12,F,Years,44,NaN,34,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452483,RESIDENTS,NaN,Unknown,1,12,F,Years,32,NaN,32,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452484,RESIDENTS,NaN,high school graduate or GED completed,1,12,M,Years,71,NaN,40,...,NaN,NaN,1,NaN,NaN,1,1,281,5,high school graduate or GED completed
2452485,RESIDENTS,NaN,high school graduate or GED completed,1,11,M,Years,58,NaN,37,...,NaN,NaN,1,NaN,NaN,1,1,100,6,high school graduate or GED completed
2452486,RESIDENTS,NaN,Unknown,1,12,F,Years,94,NaN,44,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452487,RESIDENTS,NaN,Unknown,1,12,F,Years,61,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452488,INTRASTATE NONRESIDENTS,NaN,Unknown,1,12,M,Years,56,NaN,37,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452489,FOREIGN RESIDENTS,NaN,Unknown,1,12,M,Years,56,NaN,37,...,NaN,NaN,1,NaN,NaN,1,1,998,9,Unknown
2452490,RESIDENTS,NaN,Unknown,1,12,M,Years,66,NaN,39,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452491,FOREIGN RESIDENTS,NaN,Unknown,1,12,M,Years,70,NaN,40,...,NaN,NaN,2,NaN,NaN,3,2,998,9,Unknown
2452492,FOREIGN RESIDENTS,NaN,Unknown,1,12,M,Years,51,NaN,36,...,NaN,NaN,1,NaN,NaN,1,1,998,9,Unknown
2452493,RESIDENTS,NaN,Unknown,1,12,M,Years,87,NaN,43,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452494,RESIDENTS,NaN,Unknown,1,11,F,Years,80,NaN,42,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452495,RESIDENTS,NaN,8th grade or less,1,12,F,Days,2,NaN,4,...,NaN,NaN,1,NaN,NaN,1,1,281,5,8th grade or less
2452496,RESIDENTS,NaN,8th grade or less,1,8,F,Days,3,NaN,5,...,NaN,NaN,1,NaN,NaN,1,1,281,5,8th grade or less
2452497,RESIDENTS,NaN,8th grade or less,1,12,M,Minutes,15,NaN,1,...,NaN,NaN,2,NaN,NaN,3,2,100,7,8th grade or less
2452498,RESIDENTS,NaN,Unknown,1,12,M,Years,77,NaN,41,...,NaN,NaN,2,NaN,1.0,3,2,998,9,Unknown
2452499,RESIDENTS,NaN,Unknown,1,12,M,Years,83,NaN,42,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452500,INTRASTATE NONRESIDENTS,NaN,8th grade or less,1,10,M,Minutes,5,NaN,1,...,NaN,NaN,1,NaN,NaN,1,1,100,6,8th grade or less
2452501,RESIDENTS,NaN,Unknown,1,12,M,Years,59,NaN,37,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452502,RESIDENTS,NaN,8th grade or less,1,9,M,Days,2,NaN,4,...,NaN,NaN,2,NaN,NaN,3,2,100,7,8th grade or less
2452503,RESIDENTS,NaN,8th grade or less,1,8,F,Days,22,NaN,11,...,NaN,NaN,2,NaN,NaN,3,2,100,7,8th grade or less
2452504,RESIDENTS,NaN,8th grade or less,1,8,M,Minutes,1,NaN,1,...,NaN,NaN,1,NaN,NaN,1,1,100,6,8th grade or less
2452505,RESIDENTS,NaN,Unknown,1,12,F,Years,85,NaN,43,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown

In [22]:
set(giant_df['detail_age_type'])

{'Days', 'Hours', 'Minutes', 'Months', 'Years', nan}

# Convert ages to same format

In [23]:
old_giant = giant_df['detail_age_type']

In [24]:
for i in range(0,len(giant_df['detail_age_type'])):
    if giant_df['detail_age_type'][i] == 'Days':
        giant_df['detail_age'][i] = giant_df['detail_age'][i]/365.0
    elif giant_df['detail_age_type'][i] == 'Hours':
        giant_df['detail_age'][i] = giant_df['detail_age'][i]/(365.0*24.0)
    elif giant_df['detail_age_type'][i] == 'Minutes':
        giant_df['detail_age'][i] = giant_df['detail_age'][i]/(365.0*24.0*60.0)
    elif giant_df['detail_age_type'][i] == 'Months':    
        giant_df['detail_age'][i] = giant_df['detail_age'][i]/12.0

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [26]:
giant_df

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,...,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode,education_revision
0,RESIDENTS,3 years of high school,NaN,0,1,F,Years,45,NaN,35,...,NaN,NaN,1,NaN,NaN,1,1,100,6,3 years of high school
1,RESIDENTS,1 year of college,NaN,0,1,M,Years,61,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,1 year of college
2,RESIDENTS,4 years of high school,NaN,0,1,F,Years,79,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
3,RESIDENTS,4 years of high school,NaN,0,1,M,Years,50,NaN,36,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
4,RESIDENTS,2 years of college,NaN,0,1,F,Years,68,NaN,39,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
5,RESIDENTS,Years of elementary school,NaN,0,1,F,Years,89,NaN,43,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Years of elementary school
6,RESIDENTS,4 years of high school,NaN,0,1,F,Years,68,NaN,39,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
7,RESIDENTS,4 years of high school,NaN,0,1,M,Years,61,NaN,38,...,NaN,NaN,3,NaN,NaN,2,3,100,8,4 years of high school
8,RESIDENTS,2 years of college,NaN,0,1,F,Years,73,NaN,40,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
9,INTERSTATE NONRESIDENTS,Years of elementary school,NaN,0,1,F,Years,85,NaN,43,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Years of elementary school
10,RESIDENTS,Years of elementary school,NaN,0,1,F,Years,93,NaN,44,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Years of elementary school
11,RESIDENTS,3 years of high school,NaN,0,1,M,Years,77,NaN,41,...,NaN,NaN,2,NaN,NaN,3,2,100,7,3 years of high school
12,RESIDENTS,Years of elementary school,NaN,0,1,M,Years,78,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Years of elementary school
13,RESIDENTS,2 years of college,NaN,0,1,M,Years,48,NaN,35,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
14,RESIDENTS,4 years of high school,NaN,0,1,M,Years,78,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
15,RESIDENTS,4 years of high school,NaN,0,1,F,Years,59,NaN,37,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
16,RESIDENTS,Years of elementary school,NaN,0,1,M,Years,77,NaN,41,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Years of elementary school
17,RESIDENTS,5 or more years of college,NaN,0,1,M,Years,39,NaN,33,...,NaN,NaN,1,NaN,NaN,1,1,211,1,5 or more years of college
18,RESIDENTS,4 years of high school,NaN,0,1,M,Years,64,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
19,RESIDENTS,4 years of high school,NaN,0,1,F,Years,90,NaN,44,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
20,RESIDENTS,4 years of high school,NaN,0,1,M,Years,81,NaN,42,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
21,RESIDENTS,Not stated,NaN,0,1,M,Years,33,NaN,32,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Not stated
22,RESIDENTS,4 years of high school,NaN,0,1,F,Years,63,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
23,RESIDENTS,2 years of college,NaN,0,1,F,Years,81,NaN,42,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
24,RESIDENTS,4 years of high school,NaN,0,1,M,Years,78,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of high school
25,RESIDENTS,4 years of high school,NaN,0,1,M,Years,46,NaN,35,...,NaN,NaN,3,NaN,NaN,2,3,100,8,4 years of high school
26,RESIDENTS,3 years of college,NaN,0,1,F,Years,69,NaN,39,...,NaN,NaN,1,NaN,NaN,1,1,100,6,3 years of college
27,RESIDENTS,2 years of college,NaN,0,1,M,Years,76,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,2 years of college
28,RESIDENTS,Years of elementary school,NaN,0,1,M,Years,75,NaN,41,...,NaN,NaN,3,NaN,NaN,2,3,100,8,Years of elementary school
29,RESIDENTS,4 years of college,NaN,0,1,F,Years,94,NaN,44,...,NaN,NaN,1,NaN,NaN,1,1,100,6,4 years of college
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452476,RESIDENTS,NaN,8th grade or less,1,12,M,Days,0,NaN,8,...,NaN,NaN,2,NaN,NaN,3,2,100,7,8th grade or less
2452477,RESIDENTS,NaN,high school graduate or GED completed,1,12,F,Years,87,NaN,43,...,NaN,NaN,2,NaN,NaN,3,2,100,7,high school graduate or GED completed
2452478,RESIDENTS,NaN,Unknown,1,12,F,Years,65,NaN,39,...,NaN,NaN,2,NaN,NaN,3,2,998,9,Unknown
2452479,RESIDENTS,NaN,Unknown,1,12,M,Years,57,NaN,37,...,NaN,NaN,2,NaN,NaN,3,2,998,9,Unknown
2452480,RESIDENTS,NaN,Unknown,1,12,M,Years,47,NaN,35,...,NaN,NaN,1,NaN,NaN,1,1,998,9,Unknown
2452481,RESIDENTS,NaN,8th grade or less,1,9,F,Years,78,NaN,41,...,NaN,NaN,1,NaN,NaN,1,1,100,6,8th grade or less
2452482,RESIDENTS,NaN,Unknown,1,12,F,Years,44,NaN,34,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452483,RESIDENTS,NaN,Unknown,1,12,F,Years,32,NaN,32,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452484,RESIDENTS,NaN,high school graduate or GED completed,1,12,M,Years,71,NaN,40,...,NaN,NaN,1,NaN,NaN,1,1,281,5,high school graduate or GED completed
2452485,RESIDENTS,NaN,high school graduate or GED completed,1,11,M,Years,58,NaN,37,...,NaN,NaN,1,NaN,NaN,1,1,100,6,high school graduate or GED completed
2452486,RESIDENTS,NaN,Unknown,1,12,F,Years,94,NaN,44,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452487,RESIDENTS,NaN,Unknown,1,12,F,Years,61,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452488,INTRASTATE NONRESIDENTS,NaN,Unknown,1,12,M,Years,56,NaN,37,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452489,FOREIGN RESIDENTS,NaN,Unknown,1,12,M,Years,56,NaN,37,...,NaN,NaN,1,NaN,NaN,1,1,998,9,Unknown
2452490,RESIDENTS,NaN,Unknown,1,12,M,Years,66,NaN,39,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452491,FOREIGN RESIDENTS,NaN,Unknown,1,12,M,Years,70,NaN,40,...,NaN,NaN,2,NaN,NaN,3,2,998,9,Unknown
2452492,FOREIGN RESIDENTS,NaN,Unknown,1,12,M,Years,51,NaN,36,...,NaN,NaN,1,NaN,NaN,1,1,998,9,Unknown
2452493,RESIDENTS,NaN,Unknown,1,12,M,Years,87,NaN,43,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452494,RESIDENTS,NaN,Unknown,1,11,F,Years,80,NaN,42,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452495,RESIDENTS,NaN,8th grade or less,1,12,F,Days,0,NaN,4,...,NaN,NaN,1,NaN,NaN,1,1,281,5,8th grade or less
2452496,RESIDENTS,NaN,8th grade or less,1,8,F,Days,0,NaN,5,...,NaN,NaN,1,NaN,NaN,1,1,281,5,8th grade or less
2452497,RESIDENTS,NaN,8th grade or less,1,12,M,Minutes,0,NaN,1,...,NaN,NaN,2,NaN,NaN,3,2,100,7,8th grade or less
2452498,RESIDENTS,NaN,Unknown,1,12,M,Years,77,NaN,41,...,NaN,NaN,2,NaN,1.0,3,2,998,9,Unknown
2452499,RESIDENTS,NaN,Unknown,1,12,M,Years,83,NaN,42,...,NaN,NaN,2,NaN,NaN,3,2,100,7,Unknown
2452500,INTRASTATE NONRESIDENTS,NaN,8th grade or less,1,10,M,Minutes,0,NaN,1,...,NaN,NaN,1,NaN,NaN,1,1,100,6,8th grade or less
2452501,RESIDENTS,NaN,Unknown,1,12,M,Years,59,NaN,37,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown
2452502,RESIDENTS,NaN,8th grade or less,1,9,M,Days,0,NaN,4,...,NaN,NaN,2,NaN,NaN,3,2,100,7,8th grade or less
2452503,RESIDENTS,NaN,8th grade or less,1,8,F,Days,0,NaN,11,...,NaN,NaN,2,NaN,NaN,3,2,100,7,8th grade or less
2452504,RESIDENTS,NaN,8th grade or less,1,8,M,Minutes,0,NaN,1,...,NaN,NaN,1,NaN,NaN,1,1,100,6,8th grade or less
2452505,RESIDENTS,NaN,Unknown,1,12,F,Years,85,NaN,43,...,NaN,NaN,1,NaN,NaN,1,1,100,6,Unknown

In [28]:
code_maps_2005

{'resident_status': {'1': 'RESIDENTS',
  '2': 'INTRASTATE NONRESIDENTS',
  '3': 'INTERSTATE NONRESIDENTS',
  '4': 'FOREIGN RESIDENTS'},
 'education_1989_revision': {'0': 'No formal education',
  '1': 'Years of elementary school',
  '2': 'Years of elementary school',
  '3': 'Years of elementary school',
  '4': 'Years of elementary school',
  '5': 'Years of elementary school',
  '6': 'Years of elementary school',
  '7': 'Years of elementary school',
  '8': 'Years of elementary school',
  '9': '1 year of high school',
  '10': '2 years of high school',
  '11': '3 years of high school',
  '12': '4 years of high school',
  '13': '1 year of college',
  '14': '2 years of college',
  '15': '3 years of college',
  '16': '4 years of college',
  '17': '5 or more years of college',
  '99': 'Not stated'},
 'education_2003_revision': {'1': '8th grade or less',
  '2': '9 - 12th grade, no diploma',
  '3': 'high school graduate or GED completed',
  '4': 'some college credit, but no degree',
  '5': 'Associate degree',
  '6': 'Bachelor’s degree',
  '7': 'Master’s degree',
  '8': 'Doctorate or professional degree',
  '9': 'Unknown'},
 'education_reporting_flag': {'0': '1989 revision of education item on certificate',
  '1': '2003 revision of education item on certificate',
  '2': 'no education item on certificate'},
 'month_of_death': {'01': 'January',
  '02': 'February',
  '03': 'March',
  '04': 'April',
  '05': 'May',
  '06': 'June',
  '07': 'July',
  '08': 'August',
  '09': 'September',
  '10': 'October',
  '11': 'November',
  '12': 'December'},
 'sex': {'M': 'Male', 'F': 'Female'},
 'age_substitution_flag': {'Blank': 'Calculated age is not substituted for reported age',
  '1': 'Calculated age is substituted for reported age'},
 'age_recode_52': {'01': 'Under 1 hour (includes not stated hours and minutes)',
  '02': '1 - 23 hours',
  '03': '1 day (includes not stated days)',
  '04': '2 days',
  '05': '3 days',
  '06': '4 days',
  '07': '5 days',
  '08': '6 days',
  '09': '7 - 13 days (includes not stated weeks)',
  '10': '14 - 20 days',
  '11': '21 - 27 days',
  '12': '1 month (includes not stated months)',
  '13': '2 months',
  '14': '3 months',
  '15': '4 months',
  '16': '5 months',
  '17': '6 months',
  '18': '7 months',
  '19': '8 months',
  '20': '9 months',
  '21': '10 months',
  '22': '11 months',
  '23': '1 year',
  '24': '2 years',
  '25': '3 years',
  '26': '4 years',
  '27': '5 - 9 years',
  '28': '10 - 14 years',
  '29': '15 - 19 years',
  '30': '20 - 24 years',
  '31': '25 - 29 years',
  '32': '30 - 34 years',
  '33': '35 - 39 years',
  '34': '40 - 44 years',
  '35': '45 - 49 years',
  '36': '50 - 54 years',
  '37': '55 - 59 years',
  '38': '60 - 64 years',
  '39': '65 - 69 years',
  '40': '70 - 74 years',
  '41': '75 - 79 years',
  '42': '80 - 84 years',
  '43': '85 - 89 years',
  '44': '90 - 94 years',
  '45': '95 - 99 years',
  '46': '100 - 104 years',
  '47': '105 - 109 years',
  '48': '110 - 114 years',
  '49': '115 - 119 years',
  '50': '120 - 124 years',
  '51': '125 years and over',
  '52': 'Age not stated'},
 'age_recode_27': {'01': 'Under 1 month (includes not stated weeks, days, hours, and',
  '02': '1 month - 11 months (includes not stated months)',
  '03': '1 years',
  '04': '2 years',
  '05': '3 years',
  '06': '4 years',
  '07': '5 - 9 years',
  '08': '10 - 14 years',
  '09': '15 - 19 years',
  '10': '20 - 24 years',
  '11': '25 - 29 years',
  '12': '30 - 34 years',
  '13': '35 - 39 years',
  '14': '40 - 44 years',
  '15': '45 - 49 years',
  '16': '50 - 54 years',
  '17': '55 - 59 years',
  '18': '60 - 64 years',
  '19': '65 - 69 years',
  '20': '70 - 74 years',
  '21': '75 - 79 years',
  '22': '80 - 84 years',
  '23': '85 - 89 years',
  '24': '90 - 94 years',
  '25': '95 - 99 years',
  '26': '100 years and over',
  '27': 'Age not stated'},
 'age_recode_12': {'01': 'Under 1 year (includes not stated infant ages)',
  '02': '1 - 4 years',
  '03': '5 - 14 years',
  '04': '15 - 24 years',
  '05': '25 - 34 years',
  '06': '35 - 44 years',
  '07': '45 - 54 years',
  '08': '55 - 64 years',
  '09': '65 - 74 years',
  '10': '75 - 84 years',
  '11': '85 years and over',
  '12': 'Age not stated'},
 'infant_age_recode_22': {'Blank': 'Age 1 year and over or not stated',
  '01': 'Under 1 hour (includes not stated hours and minutes)',
  '02': '1 - 23 hours',
  '03': '1 day (includes not stated days)',
  '04': '2 days',
  '05': '3 days',
  '06': '4 days',
  '07': '5 days',
  '08': '6 days',
  '09': '7-13 days (includes not stated weeks)',
  '10': '14 - 20 days',
  '11': '21 - 27 days',
  '12': '1 month (includes not stated months)',
  '13': '2 months',
  '14': '3 months',
  '15': '4 months',
  '16': '5 months',
  '17': '6 months',
  '18': '7 months',
  '19': '8 months',
  '20': '9 months',
  '21': '10 months',
  '22': '11 months'},
 'place_of_death_and_decedents_status': {'1': 'Hospital, clinic or Medical Center',
  '2': 'Hospital, Clinic or Medical Center',
  '3': 'Hospital, Clinic or Medical Center',
  '4': 'Decedent’s home',
  '5': 'Hospice facility',
  '6': 'Nursing home/long term care',
  '7': 'Other',
  '9': 'Place of death unknown'},
 'marital_status': {'S': 'Never married, single',
  'M': 'Married',
  'W': 'Widowed',
  'D': 'Divorced',
  'U': 'Marital Status unknown'},
 'day_of_week_of_death': {'1': 'Sunday',
  '2': 'Monday',
  '3': 'Tuesday',
  '4': 'Wednesday',
  '5': 'Thursday',
  '6': 'Friday',
  '7': 'Saturday',
  '9': 'Unknown'},
 'current_data_year': {'2005': '2005'},
 'injury_at_work': {'Y': 'Yes', 'N': 'No', 'U': 'Unknown'},
 'manner_of_death': {'1': 'Accident',
  '2': 'Suicide',
  '3': 'Homicide',
  '4': 'Pending investigation',
  '5': 'Could not determine',
  '6': 'Self-Inflicted',
  '7': 'Natural',
  'Blank': 'Not specified'},
 'method_of_disposition': {'B': 'Burial',
  'C': 'Cremation',
  'O': 'Other',
  'U': 'Unknown'},
 'autopsy': {'Y': 'Yes', 'N': 'No', 'U': 'Unknown'},
 'activity_code': {'0': 'While engaged in sports activity',
  '1': 'While engaged in leisure activity',
  '2': 'While working for income',
  '3': 'While engaged in other types of work',
  '4': 'While resting, sleeping, eating (vital activities)',
  '8': 'While engaged in other specified activities',
  '9': 'During unspecified activity',
  'Blank': 'Not applicable'},
 'place_of_injury_for_causes_w00_y34_except_y06_and_y07_': {'0': 'Home',
  '1': 'Residential institution',
  '2': 'School, other institution and public administrative',
  '3': 'Sports and athletics area',
  '4': 'Street and highway',
  '5': 'Trade and service area',
  '6': 'Industrial and construction area',
  '7': 'Farm',
  '8': 'Other Specified Places',
  '9': 'Unspecified place',
  'Blank': 'Causes other than W00-Y34, except Y06.- and Y07.-'},
 'icd_code_10th_revision': {'Icd Code (10Th Revision)': nan},
 '358_cause_recode': {'001': 'I. Certain infectious and parasitic diseases (A00-B99)',
  '002': 'Intestinal infectious diseases (A00-A09)',
  '003': 'Cholera (A00)',
  '004': 'Other intestinal infectious diseases (A01-A08)',
  '005': 'Typhoid fever (A01.0)',
  '006': 'Paratyphoid fevers and other salmonella infections (A01.1-A01.4,A02)',
  '007': 'Shigellosis (A03)',
  '008': 'Other bacterial food-borne intoxications (A05)',
  '009': 'Amebiasis (A06)',
  '010': 'Intestinal infections due to other specified organisms (A04,A07-A08)',
  '011': 'Diarrhea and gastroenteritis of infectious origin (A09)',
  '012': 'Tuberculosis (A16-A19)',
  '013': 'Respiratory tuberculosis (A16)',
  '014': 'Other tuberculosis (A17-A19)',
  '015': 'Zoonotic and other bacterial diseases (A20-A49)',
  '016': 'Plague (A20)',
  '017': 'Brucellosis (A23)',
  '018': 'Tetanus (A33-A35)',
  '019': 'Diptheria (A36)',
  '020': 'Whooping cough (A37)',
  '021': 'Scarlet fever and erysipelas (A38,A46)',
  '022': 'Meningococcal infection (A39)',
  '023': 'Septicemia (A40-A41)',
  '024': 'Other zoonotic and bacterial diseases (A21-A22,A24-A32,A42-A44, A48-A49)',
  '025': 'Infections with a predominately sexual mode of transmission (A50-A64)',
  '026': 'Syphilis (A50-A53)',
  '027': 'Cardiovascular syphilis (A52.0)',
  '028': 'Neurosyphilis (A52.1-A52.3)',
  '029': 'Other and unspecified syphilis (A50-A51,A52.7-A52.9,A53)',
  '030': 'Gonococcal infection (A54)',
  '031': 'Other infections with a predominately sexual mode of transmission (A55-A64)',
  '032': 'Other infections caused by spirochetes, chlamydia or rickettsia (A65-A79)',
  '033': 'Lyme disease (A69.2)',
  '034': 'Typhus fever (A75)',
  '035': 'All other infections caused by spirochetes, chlamydia or rickettsia (A65-A68,A69.0-A69.1,A69.8-A69.9,A70-A74,A77-A79)',
  '036': 'Viral diseases (A80-B34)',
  '037': 'Acute poliomyelitis (A80)',
  '038': 'Rabies (A82)',
  '039': 'Arthropod-borne viral encephalitis (A83-A84,A85.2)',
  '040': 'Yellow fever (A95)',
  '041': 'Other and unspecified arthropod-borne viral and hemorrhagic fevers (A90-A94,A96-A99)',
  '042': 'Herpesviral (herpes simplex) infections (B00)',
  '043': 'Zoster (herpes zoster) (B02)',
  '044': 'Smallpox (B03)',
  '045': 'Measles (B05)',
  '046': 'Rubella (German measles) (B06)',
  '047': 'Viral hepatitis (B15-B19)',
  '048': 'Human immunodeficiency virus (HIV) disease (B20-B24)',
  '049': 'Human immunodeficiency virus (HIV) disease resulting in infectious and parasitic diseases (B20)',
  '050': 'Human immunodeficiency virus (HIV) disease resulting in malignant neoplasms (B21)',
  '051': 'Human immunodeficiency virus (HIV) disease resulting in other specified diseases (B22)',
  '052': 'Human immunodeficiency virus (HIV) disease resulting in other conditions (B23)',
  '053': 'Unspecified human immunodeficiency virus (HIV) disease (B24)',
  '054': 'All other and unspecified viral diseases (A81,A85.0-A85.1,A85.8, A86-A89,B01,B04,B07-B09,B25-B34)',
  '055': 'Other and unspecified infectious and parasitic diseases and their sequelae (B35-B99)',
  '056': 'Mycoses (B35-B49)',
  '057': 'Protozoal diseases (B50-B64)',
  '058': 'Malaria (B50-B54)',
  '059': 'Leishmaniasis (B55)',
  '060': 'Trypanosomiasis (B56-B57)',
  '061': 'Pneumocystosis (B59)',
  '062': 'Other and unspecified protozoal diseases (B58,B60-B64)',
  '063': 'Helminthiases (B65-B83)',
  '064': 'Schistosomiasis (bilharziasis) (B65)',
  '065': 'Other and unspecified helminthiases (B66-B83)',
  '066': 'Sequelae of tuberculosis (B90)',
  '067': 'Sequelae of poliomyelitis (B91)',
  '068': 'All other and unspecified infectious and parasitic diseases and their sequelae (B85-B89,B92-B99)',
  '069': 'II. Neoplasms (C00-D48)',
  '070': 'Malignant neoplasms (C00-C97)',
  '071': 'Malignant neoplasms of lip, oral cavity and pharynx (C00-C14)',
  '072': 'Of lip (C00)',
  '073': 'Of tongue (C01-C02)',
  '074': 'Of pharynx (C10-C13,C14.0)',
  '075': 'Of other and unspecified sites within the lip, oral cavity and pharynx (C03-C09,C14.2-C14.8)',
  '076': 'Malignant neoplasms of digestive organs (C15-C26)',
  '077': 'Of esophagus (C15)',
  '078': 'Of stomach (C16)',
  '079': 'Of small intestine (C17)',
  '080': 'Of colon, rectum and anus (C18-C21)',
  '081': 'Colon (C18)',
  '082': 'Rectosigmoid junction and rectum (C19-C20)',
  '083': 'Anus and anus canal (C21)',
  '084': 'Of liver and intrahepatic bile ducts (C22)',
  '085': 'Liver (C22.0,C22.2-C22.9)',
  '086': 'Intrahepatic bile duct carcinoma (C22.1)',
  '087': 'Of gallbladder and extrahepatic bile ducts (C23-C24)',
  '088': 'Of pancreas (C25)',
  '089': 'Of other and ill-defined digestive organs (C26)',
  '090': 'Malignant neoplasms of respiratory and intrathoracic organs (C30-C39)',
  '091': 'Of nasal cavity, middle ear and accessory sinuses (C30-C31)',
  '092': 'Of larynx (C32)',
  '093': 'Of trachea, bronchus and lung (C33-C34)',
  '094': 'Of thymus, heart, mediastinum and pleura (C37-C38)',
  '095': 'Of other and ill-defined sites in respiratory system and intrathoracic organs (C39)',
  '096': 'Malignant neoplasms of bone and articular cartilage (C40-C41)',
  '097': 'Melanoma and other malignant neoplasms of skin (C43-C44)',
  '098': 'Malignant melanoma of skin (C43)',
  '099': 'Other malignant neoplasms of skin (C44)',
  '100': 'Malignant neoplasms of mesothelial and soft tissue (C45-C49)',
  '101': 'Mesothelioma (C45)',
  '102': 'Kaposi=s sarcoma (C46)',
  '103': 'Of other mesothelial and soft tissue (C47-C49)',
  '104': 'Malignant neoplasm of breast (C50)',
  '105': 'Malignant neoplasms of female genital organs (C51-C58)',
  '106': 'Of vulva and vagina (C51-C52)',
  '107': 'Of cervix uteri (C53)',
  '108': 'Of corpus uteri and uterus, part unspecified (C54-C55)',
  '109': 'Of ovary (C56)',
  '110': 'Of other and unspecified female genital organs (C57)',
  '111': 'Of placenta (C58)',
  '112': 'Malignant neoplasms of male genital organs (C60-C63)',
  '113': 'Of prostate (C61)',
  '114': 'Of testis (C62)',
  '115': 'Of penis and other and unspecified male genital organs (C60,C63)',
  '116': 'Malignant neoplasms of urinary tract (C64-C68)',
  '117': 'Of kidney and renal pelvis (C64-C65)',
  '118': 'Of bladder (C67)',
  '119': 'Of other and unspecified sites within the urinary tract (C66,C68)',
  '120': 'Malignant neoplasm of eye and adnexa (C69)',
  '121': 'Malignant neoplasms of meninges, brain and other parts of central nervous system (C70-C72)',
  '122': 'Of brain (C71)',
  '123': 'Of other parts of central nervous system (C70,C72)',
  '124': 'Malignant neoplasms of thyroid and other endocrine glands (C73-C75)',
  '125': 'Other malignant neoplasms of other and unspecified sites (C76-C80,C97)',
  '126': 'Malignant neoplasms of lymphoid, hematopoietic and related tissue (C81-C96)',
  '127': 'Hodgkin=s disease (C81)',
  '128': 'Of other lymphoid, hematopoietic and related tissue (C82-C85,C96)',
  '129': 'Non-Hodgkin=s lymphoma (C82-C85)',
  '130': 'Of other and unspecified lymphoid, hematopoietic and related tissue (C96)',
  '131': 'Malignant immunoproliferative diseases (C88)',
  '132': 'Multiple myeloma and malignant plasma cell neoplasms (C90)',
  '133': 'Leukemia (C91-C95)',
  '134': 'Lymphoid leukemia (C91)',
  '135': 'Myeloid leukemia (C92)',
  '136': 'Monocytic leukemia (C93)',
  '137': 'Other and unspecified leukemia (C94-C95)',
  '138': 'In situ neoplasms (D00-D09)',
  '139': 'Carcinoma in situ of breast and genitourinary system (D05-D07)',
  '140': 'Carcinoma in situ of other and unspecified sites (D00-D04,D09)',
  '141': 'Benign neoplasms (D10-D36)',
  '142': 'Of female genital organs (D25-D28)',
  '143': 'Of eye, brain and other parts of central nervous system (D31-D33)',
  '144': 'Of other and unspecified sites (D10-D24,D29-D30,D34-D36)',
  '145': 'Neoplasms of uncertain or unknown behavior of specified sites (D37-D47)',
  '146': 'Neoplasms of uncertain or unknown behavior of unspecified sites (D48)',
  '147': 'III. Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism (D50-D89)',
  '148': 'Anemias (D50-D64)',
  '149': 'Nutritional anemias (D50-D53)',
  '150': 'Hemolytic anemias (D55-D59)',
  '151': 'Aplastic anemias (D60-D61)',
  '152': 'Acute posthemorrhagic and other anemias (D62,D64)',
  '153': 'Coagulation defects, purpura and other hemorrhagic conditions (D65-D69)',
  '154': 'Other diseases of blood and blood-forming organs (D70-D76)',
  '155': 'Certain disorders involving the immune mechanism (D80-D89)',
  '156': 'IV. Endocrine, nutritional and metabolic diseases (E00-E88)',
  '157': 'Endocrine diseases (E00-E34)',
  '158': 'Disorders of thyroid gland (E00-E07)',
  '159': 'Diabetes mellitus (E10-E14)',
  '160': 'Disorders of pituitary gland (E22-E23)',
  '161': 'Disorders of adrenal glands (E24-E27)',
  '162': 'Diseases of thymus (E32)',
  '163': 'Other endocrine diseases (E15-E21,E28-E31,E34)',
  '164': 'Nutritional diseases (E40-E68)',
  '165': 'Malnutrition (E40-E46)',
  '166': 'Nutritional marasmus (E41)',
  '167': 'Other and unspecified malnutrition (E40,E42-E46)',
  '168': 'Other nutritional deficiences (E50-E64)',
  '169': 'Obesity and other hyperalimentation (E65-E68)',
  '170': 'Metabolic disorders (E70-E88)',
  '171': 'Cystic fibrosis (E84)',
  '172': 'Volume depletion, disorders of fluid, electrolyte and acid-base balance (E86-E87)',
  '173': 'Other metabolic disorders (E70-E83,E85,E88)',
  '174': 'V. Mental and behavioral disorders (F01-F99)',
  '175': 'Organic dementia (F01,F03)',
  '176': 'Other and unspecified organic mental disorders (F04-F09)',
  '177': 'Mental and behavioral disorders due to psychoactive substance use (F10-F19)',
  '178': 'Mental and behavioral disorders due to use of alcohol (F10)',
  '179': 'Mental and behavioral disorders due to other psychoactive substance use (F11-F19)',
  '180': 'Schizophrenia, schizotypal and delusional disorders (F20-F29)',
  '181': 'Mood (affective) disorders (F30-F39)',
  '182': 'Neurotic, stress-related and somatoform disorders (F40-F48)',
  '183': 'Mental retardation (F70-F79)',
  '184': 'Other and unspecified mental and behavioral disorders (F50-F69,F80-F99)',
  '185': 'VI. Diseases of the nervous system (G00-G98)',
  '186': 'Meningitis (G00,G03)',
  '187': 'Other inflammatory diseases of central nervous system (G04-G09)',
  '188': 'Parkinson=s disease (G20-G21)',
  '189': 'Alzheimer=s disease (G30)',
  '190': 'Multiple sclerosis (G35)',
  '191': 'Epilepsy (G40-G41)',
  '192': 'Transient cerebral ischemic attacks and related syndromes (G45)',
  '193': 'Infantile cerebral palsy (G80)',
  '194': 'All other diseases of nervous system (G10-G12,G23-G25,G31,G36-G37,G43-G44,G47-G72,G81-G98)',
  '195': 'VII. Diseases of the eye and adnexa (H00-H57)',
  '196': 'VIII. Diseases of the ear and mastoid process (H60-H93)',
  '197': 'IX. Diseases of the circulatory system (I00-I99)',
  '198': 'Acute rheumatic fever and chronic rheumatic heart diseases (I00-I09)',
  '199': 'Acute rheumatic fever (I00-I02)',
  '200': 'Chronic rheumatic heart diseases (I05-I09)',
  '201': 'Rheumatic mitral valve diseases (I05)',
  '202': 'Rheumatic aortic valve diseases (I06)',
  '203': 'Disorders of both mitral and aortic valves (I08.0)',
  '204': 'Other chronic rheumatic heart diseases (I07,I08.1-I08.9,I09)',
  '205': 'Hypertensive diseases (I10-I13)',
  '206': 'Essential (primary) hypertension (I10)',
  '207': 'Hypertensive heart disease (I11)',
  '208': 'Hypertensive renal disease (I12)',
  '209': 'Hypertensive heart and renal disease (I13)',
  '210': 'Ischemic heart diseases (I20-I25)',
  '211': 'Acute myocardial infarction (I21-I22)',
  '212': 'Other acute ischemic heart diseases (I24)',
  '213': 'Other forms of chronic ischemic heart diseases (I20,I25)',
  '214': 'Atherosclerotic cardiovascular disease, so described (I25.0)',
  '215': 'All other forms of chronic ischemic heart disease (I20,I25.1-I25.9)',
  '216': 'Other heart diseases (I26-I51)',
  '217': 'Pulmonary heart disease and diseases of pulmonary circulation (I26-I28)',
  '218': 'Pulmonary embolism (I26)',
  '219': 'Other pulmonary heart disease and diseases of pulmonary circulation (I27-I28)',
  '220': 'Other non-pulmonary forms of heart disease (I30-I51)',
  '221': 'Acute and subacute endocarditis (I33)',
  '222': 'Diseases of pericardium and acute myocarditis (I30-I31,I40)',
  '223': 'Other diseases of endocardium (I34-I38)',
  '224': 'Nonrheumatic mitral valve disorders (I34)',
  '225': 'Nonrheumatic aortic valve disorders (I35)',
  '226': 'All other diseases of endocardium (I36-I38)',
  '227': 'Cardiomyopathy (I42)',
  '228': 'Conduction disorders and cardiac dysrhythmias (I44-I49)',
  '229': 'Heart failure (I50)',
  '230': 'Congestive heart failure (I50.0)',
  '231': 'Other and unspecified heart failure (I50.1-I50.9)',
  '232': 'Myocarditis, unspecified and myocardial degeneration (I51.4-I51.5)',
  '233': 'All other and ill-defined forms of heart disease (I50.0-I51.3, I51.6-I51.9)',
  '234': 'Cerebrovascular diseases (I60-I69)',
  '235': 'Subarachnoid hemorrhage (I60)',
  '236': 'Intracerebral and other intracranial hemorrhage (I61-I62)',
  '237': 'Cerebral infarction (I63)',

In [29]:
set(giant_df['method_of_disposition'])

{'B', 'C', 'D', 'E', 'O', 'R', 'U'}